<!-- passo 4 --------------------------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="step-pane" id="ato-step-4">
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" id="btn-ato-show-data-ato-step-4" rel="tooltip" data-placement="top" data-original-title="Expande/colapsa formulário.">
                    <i class="fa fa-chevron-up" id="img-ato-show-data-ato-step-4"></i>
                </button>
                <button type="button" class="btn btn-success" id="btn-ato-gerar-texto" rel="tooltip" data-placement="top" data-original-title="Gerar texto do ato, a partir do modelo.">
                    <i class="fa fa-cogs"></i> Gerar texto
                </button>
                <button type="button" class="btn btn-primary" id="btn-ato-salvar" rel="tooltip" data-placement="top" data-original-title="Salvar o ato na base de dados.">
                    <i class="fa fa-database"></i> Salvar
                </button>
                <button type="button" class="btn btn-danger" id="btn-ato-anular" rel="tooltip" data-placement="top" data-original-title="Cancelar o ato.">
                    <i class="fa fa-ban"></i> Cancelar
                </button>
            </div>
        </div>
        <div class="col-md-8">
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.Salvo, new { @value = Model.Ativo, @checked = Model.Ativo, @disabled = "disabled" })
                @Html.LabelFor(model => model.Salvo, new { @class = "label-checkbox" })
            </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.Ativo, new { @value = Model.Ativo, @checked = Model.Ativo, @disabled = "disabled" })
                @Html.LabelFor(model => model.Ativo, new { @class = "label-checkbox" })
            </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.ImpressaoAjustada, new { @value = Model.ImpressaoAjustada, @checked = Model.ImpressaoAjustada, @disabled = "disabled" })
                @Html.LabelFor(model => model.ImpressaoAjustada, new { @class = "label-checkbox" })
            </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.Conferido, new { @value = Model.Conferido, @checked = Model.Conferido, @disabled = "disabled" })
                @Html.LabelFor(model => model.Conferido, new { @class = "label-checkbox" })
            </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.GeradoFicha, new { @value = Model.GeradoFicha, @checked = Model.GeradoFicha, @disabled = "disabled" })
                @Html.LabelFor(model => model.GeradoFicha, new { @class = "label-checkbox" })
            </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.Finalizado, new { @value = Model.Finalizado, @checked = Model.Finalizado, @disabled = "disabled" })
                @Html.LabelFor(model => model.Finalizado, new { @class = "label-checkbox" })
            </label>
        </div>
    </div>
    <br />
    <div id="div-ato-dados-step-4">
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.IdLivro)
                @Html.DropDownListFor(model => model.IdLivro, (ViewBag.listaLivro as SelectList), new { @id = "ddListLivro", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.NumFicha, new { @class = "control-label somente-numero-sem-decimal" })
                    @Html.EditorFor(model => model.NumFicha, new { htmlAttributes = new { @type = "number", @min = "0", @max = "9999", @step = "1", @class = "form-control", @title = "Número da ficha." } })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.FolhaFicha, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EnumDropDownListFor(model => model.FolhaFicha, htmlAttributes: new { @class = "form-control", @title = "Definir se a impressão do ato deve começar na frente ou verso da ficha." })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.DistanciaTopo, new { @class = "control-label somente-numero-sem-decimal" })
                    @Html.EditorFor(model => model.DistanciaTopo, new { htmlAttributes = new { @type = "number", @min = "0", @max = "29", @step = "1", @class = "form-control", @placeholder = "Dist. topo", @title = "Distância aproximada do início da impressao do topo da página." } })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.DataCadastro, new { @class = "control-label" })
                    @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @title = "colocar nome usuario" } })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.DataAlteracao, new { @class = "control-label" })
                    @Html.EditorFor(model => model.DataAlteracao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescricaoAto, new { @class = "control-label" })
                    @Html.EditorFor(model => model.DescricaoAto, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descrição do ato" } })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.DataAto, new { @class = "control-label" })
                    @Html.EditorFor(model => model.DataAto, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.StatusAto, new { @class = "control-label" })
                    @Html.EditorFor(model => model.StatusAto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info" id="btn-ato-conf-ajuste" rel="tooltip" data-placement="top" data-original-title="Confirmar ajuses de impressão. Obs: ao confirmar, o texto não poderá ser mais alterado!">
                        <i class="glyphicon glyphicon-resize-vertical"></i> Ajuste ok
                    </button>
                    <button type="button" class="btn btn-info" id="btn-ato-imp-minuta" rel="tooltip" data-placement="top" data-original-title="Imprimir uma prévia do documento para verificar o ajueste de impressão!">
                        <i class="glyphicon glyphicon-print"></i> Imprimir
                    </button>
                    <button type="button" class="btn btn-info" id="btn-ato-conf-imp" rel="tooltip" data-placement="top" data-original-title="Texto do ato foi conferido e está ok para gerar documento.">
                        <i class="glyphicon glyphicon-ok"></i> Conferido
                    </button>
                    <button type="button" class="btn btn-info" id="btn-ato-colocar-edicao" rel="tooltip" data-placement="top" data-original-title="Recoloca o ato em edição, você poderá alterar o texto, mas posteriormente terá que confirmar ajuste de impressão novamente..">
                        <i class="glyphicon glyphicon-open-file"></i> Em edição
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success" id="btn-ato-gerar-docx" rel="tooltip" data-placement="top" data-original-title="Gerar documento do word (docx).">
                        <i class="fa fa-file-word-o"></i> Gerar Ficha
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" id="btn-ato-finalizar" rel="tooltip" data-placement="top" data-original-title="Finalizar processo, e ato é salvo de forma definitiva, não permite mais edições.">
                        <i class="glyphicon glyphicon-import"></i> Finalizar
                    </button>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            Observações
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <textarea id="ckEditorAto" name="ckEditorAto" rows="20" cols="160" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control", @cols = 160, @rows = 23 })
            </div>
        </div>

    </div>
</div>
