@model Cartorio11RI.ViewModels.AtoViewModel

<div class="widget-body fuelux">
    <div class="row padding-5">
        <div class="wizard" id="divWizardEdicaoAto">
            <ul class="steps">
                <li data-target="#ato-step-1" class="active">
                    <i class="fa fa-home txt-color-blue fa-lg"></i><span class="text Bold"> imóvel</span><span class="chevron"></span>
                </li>
                <li data-target="#ato-step-2">
                    <i class="fa fa-users txt-color-purple fa-lg"></i><span class="text Bold"> Pessoas</span> <span class="chevron"></span>
                </li>
                <li data-target="#ato-step-3">
                    <i class="fa fa-magic txt-color-yellow fa-lg"></i><span class="text Bold"> Modelo</span><span class="chevron"></span>
                </li>
                <li data-target="#ato-step-4">
                    <i class="fa fa-file-word-o txt-color-blueDark fa-lg"></i><span class="text Bold"> Escrita</span><span class="chevron"></span>
                </li>
                <li data-target="#ato-step-5">
                    <i class="fa fa-check-square-o txt-color-green fa-lg"></i><span class="text Bold"> Confirmação</span><span class="chevron"></span>
                </li>
            </ul>
            <div class="actions">
                <button type="button" class="btn btn-sm btn-primary btn-prev" id="btn-voltar">
                    <i class="fa fa-arrow-left"></i>Voltar
                </button>
                <button type="button" class="btn btn-sm btn-success btn-next" id="btn-proximo" data-last="Finalizar">
                    Próximo<i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="step-content">
            <form id="frm-wizard-novo-ato" method="post" novalidate="novalidate">
                @Html.AntiForgeryToken()
                @Html.ValidationBootstrap()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IdCtaAcessoSist)
                @Html.HiddenFor(model => model.IdTipoAto)
                @Html.HiddenFor(model => model.IpLocal)

                @Html.Partial("_divWizardPasso1", Model)
                @Html.Partial("_divWizardPasso2", Model)
                @Html.Partial("_divWizardPasso3", Model)
                @Html.Partial("_divWizardPasso4", Model)
                @Html.Partial("_divWizardPasso5", Model)
            </form>
        </div>
    </div>
</div>

