<!-- _divImovel   ---------------------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.NumMatricula)
            @Html.TextBoxFor(model => model.NumMatricula, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.ENDER)
            @Html.TextBoxFor(model => model.PREIMO.ENDER, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.NUM)
            @Html.TextBoxFor(model => model.PREIMO.NUM, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.APTO)
            @Html.TextBoxFor(model => model.PREIMO.APTO, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.BLOCO)
            @Html.TextBoxFor(model => model.PREIMO.BLOCO, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.EDIF)
            @Html.TextBoxFor(model => model.PREIMO.EDIF, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.LOTE)
            @Html.TextBoxFor(model => model.PREIMO.LOTE, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.QUADRA)
            @Html.TextBoxFor(model => model.PREIMO.QUADRA, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.OUTROS)
            @Html.TextBoxFor(model => model.PREIMO.OUTROS, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.PREIMO.VAGA)
            @Html.TextBoxFor(model => model.PREIMO.VAGA, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
