@model Cartorio11RI.ViewModels.AtoViewModel

<div class="widget-body fuelux">
    <div class="row padding-5">
        <div class="wizard" id="divWizardEtapas">
            <ul class="steps">
                <li data-target="#step1" class="active">
                    <span class="badge badge-info">1</span>Selecionar imóvel<span class="chevron"></span>
                </li>
                <li data-target="#step2">
                    <span class="badge">2</span>Selecionar pessoas<span class="chevron"></span>
                </li>
                <li data-target="#step3">
                    <span class="badge">3</span>Selecionar modelo<span class="chevron"></span>
                </li>
                <li data-target="#step4">
                    <span class="badge">4</span>Escrita<span class="chevron"></span>
                </li>
                <li data-target="#step5">
                    <span class="badge">5</span>Confirmação<span class="chevron"></span>
                </li>
            </ul>
            <div class="actions">
                <button type="button" class="btn btn-sm btn-primary btn-prev" id="btn-voltar">
                    <i class="fa fa-arrow-left"></i>Voltar
                </button>
                <button type="button" class="btn btn-sm btn-success btn-next" id="btn-proximo" data-last="Finalizar">
                    Próximo<i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="step-content">
            <form id="frm-wizard-ato" method="post" novalidate="novalidate">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IdCtaAcessoSist)
                @Html.HiddenFor(model => model.IdPrenotacao)
                @Html.HiddenFor(model => model.NumMatricula)
                @Html.HiddenFor(model => model.IdTipoAto)
                @Html.HiddenFor(model => model.PREIMO.SUBD)
                @Html.HiddenFor(model => model.PREIMO.TIPO)
                @Html.HiddenFor(model => model.PREIMO.TITULO)
                @Html.HiddenFor(model => model.IpLocal)

                @Html.Partial("_divWizardPasso1", Model)
                @Html.Partial("_divWizardPasso2", Model)
                @Html.Partial("_divWizardPasso3", Model)
                @Html.Partial("_divWizardPasso4", Model)
                @Html.Partial("_divWizardPasso5", Model)

            </form>
        </div>
    </div>
</div>

