@model Cartorio11RI.ViewModels.AtoViewModel

<!-- passo 1 --------------------------------------------------------------- -->
<div class="step-pane active" id="step1">
    <h3><strong>Etapa 1 </strong> - Selecionar o imóvel</h3>
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IdLivro)
            @Html.DropDownListFor(model => model.IdLivro, (ViewBag.listaLivro as SelectList), new { @id = "ddListLivro", @class = "form-control" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.PREIMO.SEQPRE)
            <div class="input-group">
                <span class="input-group-addon dropdown"><i class="fa fa-file-text-o"></i></span>
                <div class="icon-addon addon-md">
                    @Html.TextBoxFor(model => model.PREIMO.SEQPRE, new { @class = "form-control somente-numero-sem-decimal", placeholder = "Núm. prenotação" })
                    <label for="PREIMO_SEQPRE" class="glyphicon glyphicon-search" rel="tooltip" title="Número de prenotação"></label>
                </div>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" id="btn-pesq-prenotacao">Pesquisar</button>
                </span>
            </div>
        </div>
    </div>
    <hr class="simple" />
    <!-- Widget ID (each widget will need unique ID) ----------------------- -->
    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-home"></i> </span>
            <h2>Dados do imóvel</h2>

        </header>

        <!-- widget div ------------ -->
        <div>
            <!-- widget edit box --- -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content ---- -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-sm-10">
                        @Html.LabelFor(model => model.PREIMO.ENDER)
                        @Html.TextBoxFor(model => model.PREIMO.ENDER, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PREIMO.NUM)
                        @Html.TextBoxFor(model => model.PREIMO.NUM, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row"><hr /></div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PREIMO.APTO)
                        @Html.TextBoxFor(model => model.PREIMO.APTO, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PREIMO.BLOCO)
                        @Html.TextBoxFor(model => model.PREIMO.BLOCO, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PREIMO.EDIF)
                        @Html.TextBoxFor(model => model.PREIMO.EDIF, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PREIMO.LOTE)
                        @Html.TextBoxFor(model => model.PREIMO.EDIF, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PREIMO.QUADRA)
                        @Html.TextBoxFor(model => model.PREIMO.QUADRA, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PREIMO.OUTROS)
                        @Html.TextBoxFor(model => model.PREIMO.OUTROS, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row"><hr /></div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.PREIMO.VAGA)
                        @Html.TextBoxFor(model => model.PREIMO.VAGA, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <!-- end widget content- -->

        </div>
        <!-- end widget div -------- -->

    </div>
    <!-- end widget ---------------- -->

</div>


