<!-- _divWizardAto  -------------------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="widget-body fuelux">
    <div class="row padding-5">
        <div class="wizard" id="div-wizard-novo-ato">
            <ul class="steps">
                <li data-target="#ato-step-1" class="active">
                    <i class="fa fa-home txt-color-blue"></i><strong>&emsp;1 - Prenotação/imóvel</strong><span class="chevron"></span>
                </li>
                <li data-target="#ato-step-2">
                    <i class="fa fa-users txt-color-purple"></i><strong>&emsp;2 - Outorgantes/Outorgados</strong> <span class="chevron"></span>
                </li>
                <li data-target="#ato-step-3">
                    <i class="fa fa-magic txt-color-yellow"></i><strong>&emsp;3 - Modelo</strong><span class="chevron"></span>
                </li>
                <li data-target="#ato-step-4">
                    <i class="fa fa-file-word-o txt-color-blueDark"></i><strong>&emsp;4 - Escrita</strong><span class="chevron"></span>
                </li>
            </ul>
            <div class="actions">
                <button type="button" class="btn btn-sm btn-primary btn-prev" id="btn-voltar">
                    <i class="fa fa-arrow-left"></i>Voltar
                </button>
                <button type="button" class="btn btn-sm btn-success btn-next" id="btn-proximo" data-last="Finalizar">
                    Próximo<i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="step-content" id="div-ato-novoato">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frm-cadastro-ato", @name = "frm-cadastro-ato", @novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationBootstrap()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IdCtaAcessoSist)
                @Html.HiddenFor(model => model.IdTipoAto)
                @Html.HiddenFor(model => model.IdUsuarioCadastro)
                @Html.HiddenFor(model => model.IdUsuarioAlteracao)
                @Html.HiddenFor(model => model.IpLocal)
                <fieldset>
                    @Html.Partial("_divWizardPasso1", Model)
                    @Html.Partial("_divWizardPasso2", Model)
                    @Html.Partial("_divWizardPasso3", Model)
                    @Html.Partial("_divWizardPasso4", Model)
                </fieldset>
            }
        </div>
    </div>
</div>
