<!-- EditarAto  ------------------------------------------------------------ -->
@model Cartorio11RI.ViewModels.AtoViewModel

@{
	ViewBag.Title = ViewContext.RouteData.Values["controller"];
	ViewBag.SubTitle = "Editar"; //ViewContext.RouteData.Values["action"];
}

@section styles_especific {

	<link href="~/Scripts/plugin/ckeditor/skins/moono/dialog.css" rel="stylesheet" />
	<link href="~/Scripts/plugin/ckeditor/skins/moono/editor.css" rel="stylesheet" />
	<style>
		/*-- coloque aqui seu codigo css ---------------------------------------- */
		.btn-width-80px{
			width: 80px;
		}

		#div-historico-ato {
			height: 210px;
			width: 100%;
			overflow:auto; 
		}

		#tbl-historico-ato {
			width: 100%;
		}

		#tbl-historico-ato tr td:nth-child(1) {
			width: 15%;
		}

		#tbl-historico-ato tr td:nth-child(2) {
			width: 20%;
		}

		#tbl-historico-ato tr td:nth-child(3) {
			width: 35%;
		}

		#tbl-historico-ato tr td:nth-child(4) {
			width: 30%;
		}

	</style>
}

<!-- MAIN CONTENT -->
<div id="content">
	<!-- widget grid -->
	<section id="widget-grid" class="">

		<!-- row -->
		<div class="row">

			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-fullscreenbutton="false">

					<header>
						<span class="widget-icon"> <i class="fa fa-cogs"></i> </span>
						<h2>Edição de Ato</h2>

					</header>

					<!-- widget div-->
					<div>

						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
							<input class="form-control" type="text">
						</div>
						<!-- end widget edit box -->
						<!-- widget content -->
						<div class="widget-body">
							@using (Html.BeginForm("EditarAto", "Atos", FormMethod.Post, new { id = "frm-cadastro-ato", enctype = "multipart/form-data" }))
							{
								@Html.AntiForgeryToken()
								@Html.ValidationBootstrap()
								@Html.HiddenFor(model => model.Id)
								@Html.HiddenFor(model => model.IdCtaAcessoSist)
								@Html.HiddenFor(model => model.IdTipoAto)
								@Html.HiddenFor(model => model.IdUsuarioCadastro)
								@Html.HiddenFor(model => model.IdUsuarioAlteracao)
								@Html.HiddenFor(model => model.IpLocal)

								<ul id="tab-edt-ato" class="nav nav-tabs bordered">
									<li class="active">
										<a href="#tab-edt-tab1" data-toggle="tab"><span class="txt-color-blueDark"><i class="fa fa-fw fa-lg fa-file-word-o"></i> Ato</span></a>
									</li>
									<li>
										<a href="#tab-edt-tab2" data-toggle="tab"><span class="txt-color-blueDark"><i class="fa fa-fw fa-lg fa-users"></i> Pessoas</span></a>
									</li>
									<li>
										<a href="#tab-edt-tab3" data-toggle="tab"><span class="txt-color-blueDark"><i class="fa fa-fw fa-lg fa-home"></i> Imóvel</span></a>
									</li>
									<li>
										<a href="#tab-edt-tab4" data-toggle="tab"><span class="txt-color-blueDark"><i class="fa fa-fw fa-lg fa-file-text-o"></i> Modelo</span></a>
									</li>
									<li class="pull-right">
										<a href="javascript:void(0);">
											<div class="sparkline txt-color-pinkDark text-align-right" data-sparkline-height="18px" data-sparkline-width="90px" data-sparkline-barwidth="7">
												<i class="fa fa-file-word-o"></i>
											</div>
										</a>
									</li>
								</ul>
								<div id="tab-edt-ato-content" class="tab-content bg-color-white padding-10">
									@Html.Partial("_edtAtoTab1", Model)
									@Html.Partial("_edtAtoTab2", Model)
									@Html.Partial("_edtAtoTab3", Model)
									@Html.Partial("_edtAtoTab4", Model)
								</div>

							}
						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->

				</div>
				<!-- end widget -->

			</article>
			<!-- WIDGET END -->

		</div>
		<!-- end row -->

	</section>
	<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section pagespecific {

	<script src="~/Scripts/plugin/ckeditor/ckeditor.js"></script>
	<script src="~/Scripts/plugin/ckeditor/styles.js"></script>
	<script src="~/Scripts/cartoonsoft/cartoonsoft_libs.js"></script>
	<script src="~/Scripts/cartoonsoft/cartoonsoft_jquery_libs.js"></script>
	<script src="~/Scripts/cartoonsoft/Atos/crud_ato.js"></script>
	<script src="~/Scripts/cartoonsoft/Atos/editar_ato.js"></script>

	<script>
	$(document).ready(function () {

		//

	});
	</script>
}		