@model IEnumerable<Cartorio11RI.ViewModels.AtoListViewModel>

@{
    ViewBag.Title = "Atos";
    ViewBag.SubTitle = "Index";
}

@section styles_especific {

    <style>
        /*------------------------------------------------------------------------------
        tbl-list-atos
        ------------------------------------------------------------------------------*/
        #tbl-list-atos {
            /*border: 1px solid #808080; */
            table-layout: auto;
            width: 100%;
        }

        #tbl-list-atos tr td:nth-child(1) {
            width: 15%;
        }

        #tbl-list-atos tr td:nth-child(2) {
            width: 10%;
        }

        #tbl-list-atos tr td:nth-child(3) {
            width: 10%;
        }

        #tbl-list-atos tr td:nth-child(4) {
            width: 10%;
        }

        #tbl-list-atos tr td:nth-child(5) {
            width: 15%;
        }

        #tbl-list-atos tr td:nth-child(6) {
            width: 25%;
        }

    </style>
}

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-pencil-square-o fa-fw "></i>
                @ViewBag.Title
                <span>
                    >
                    @ViewBag.SubTitle
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <div class="panel-group smart-accordion-default" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                            <span id="SpanTitFormPesquisa"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body no-padding">
                        <form class="smart-form bordered">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-calendar"></i>
                                            <input type="text" name="dataIni" id="dataIni" placeholder="Data inicial">
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-calendar"></i>
                                            <input type="text" name="dataFim" id="dataFim" placeholder="Data final">
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <button type="button" class="btn btn-primary btn-sm" id="btnPesquisar" data-toggle="tooltip" data-placement="top" title="Pesquisar por perioodo"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
                                    </section>
                                </div>
                                <div class="row">
                                    @Html.ValidationBootstrap()
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"><br /></div>

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Atos resgistrados no período </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table id="tbl-list-atos" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="1">
                                            Reg./Mat.
                                        </th>
                                        <th colspan="1">
                                            Prenotação
                                        </th>
                                        <th colspan="1">
                                            Tipo
                                        </th>
                                        <th colspan="1">
                                            Data
                                        </th>
                                        <th colspan="2">
                                            Observação
                                        </th>
                                        <th colspan="2">
                                            Status
                                        </th>
                                        <th colspan="2" style="display:none;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.Id">
                                            <td colspan="1">
                                                @Html.DisplayFor(modelItem => item.Codigo)
                                            </td>
                                            <td colspan="1">
                                                @Html.DisplayFor(modelItem => item.IdPrenotacao)
                                            </td>
                                            <td colspan="1">
                                                @Html.DisplayFor(modelItem => item.DescricaoTipoAto)
                                            </td>
                                            <td colspan="1">
                                                @Html.DisplayFor(modelItem => item.DataCadastro)
                                            </td>
                                            <td colspan="2">
                                                @Html.DisplayFor(modelItem => item.Observacao)
                                            </td>
                                            <td class="text-capitalize" colspan="2">
                                                @{
                                                    if (item.Bloqueado == true)
                                                    {
                                                        <label>Bloqueado</label>
                                                    }
                                                    else
                                                    {
                                                        <label>Disponível para alteração</label>
                                                    }
                                                }
                                            </td>
                                            <td class="row" colspan="2">
                                                @{
                                                    if (!item.Bloqueado)
                                                    {
                                                        <a href="@Url.Action("Bloquear", "Ato", new { Id = item.Id })" class="btn btn-danger" rel="tooltip" data-placement="top" data-original-title="Bloquear"><i class="fa fa-lock"></i></a>
                                                        <a href="@Url.Action("Editar", "Ato", new { Id = item.Id })" class="btn btn-primary" rel="tooltip" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("DownloadFileCompleto", "Ato", new { Id = item.NumMatricula})" class="btn btn-info" rel="tooltip" data-placement="top" data-original-title="Histórico"><i class="fa fa-cloud-download"></i></a>
                                                    }
                                                }
                                                <a href="javascript:void(0);" class="btn btn-default" rel="tooltip" data-placement="top" data-original-title="Imprimir"><i class="fa fa-print"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<!-- scripts pagespecific -------------------------------------------------- -->
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#dataIni').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#dataFim').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#dataFim').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#dataIni').datepicker('option', 'maxDate', selectedDate);
                }
            });

            $("#dataIni").val("@String.Format("{0:dd/MM/yyyy}", ViewBag.DataIni)");
            $("#dataFim").val("@String.Format("{0:dd/MM/yyyy}", ViewBag.DataFim)");
            $("#SpanTitFormPesquisa").html("Mostrar Atos de: " + $("#dataIni").val() + " até " + $("#dataFim").val());

            /*-- btnPesquisar ----------------------------------------------- */
            $("#btnPesquisar").click(function (e) {
                e.preventDefault();

                var objData = {
                    DataIni: $("#dataIni").val(),
                    DataFim: $("#dataFim").val()
                };

                $.ajax('@Url.Action("Index", "Atos")', {
                    method: 'POST',
                    dataType: 'text',
                    data: objData,
                    beforeSend: function () {
                        ShowProgreessBar("Processando requisição...");
                    }
                }).done(function (data) {
                    //
                    $("#SpanTitFormPesquisa").html("Mostrar Atos de: " + $("#dataIni").val() + " até " + $("#dataFim").val());

                }).fail(function (jq, textStatus, error) {
                    //

                }).always(function () {
                    HideProgressBar();
                });
            });

        });
    </script>
}