
@{
	ViewBag.Title = ViewContext.RouteData.Values["controller"];
	ViewBag.SubTitle = ViewContext.RouteData.Values["action"];
}

@section styles_especific {
	<link href="~/Content/css/cartoonsoft_style.css" rel="stylesheet" />
	<style>
		/*-- coloque aqui seu código css ------------------------------------ */
	</style>
}

<!-- MAIN CONTENT -->
<div id="content">

	<!-- row -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="fa-fw fa fa-tasks"></i>
				@ViewBag.Title
				<span>
					<i class="fa fa-chevron-right"></i> @ViewBag.SubTitle
				</span>
			</h1>
		</div>
	</div>
	<!-- end row -->
	<!-- widget grid -->
	<section id="widget-grid" class="">

		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-fullscreenbutton="false">

					<header>
						<span class="widget-icon"> <i class="fa fa-cogs"></i> </span>
						<h2>CartoonSoft - Exemplos I </h2>
					</header>

					<!-- widget div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
							<input class="form-control" type="text">
						</div>
						<!-- end widget edit box -->
						<!-- widget content -->
						<div class="widget-body">
							<div class="row padding-10">
								<div class="col-md-2">
									<div class="checkbox">
										<label>
											@Html.CheckBox("chk_teste1", true, new { @class = "chk_cartoon" })
											@Html.Label("chk_teste1","Bla bla bla 1", new { @class = "control-label padding-left-5 padding-top-5" })
										</label>
									</div>
								</div>
								<div class="col-md-2">
									<div class="checkbox">
										<label>
											@Html.CheckBox("chk_teste2", true, new { @class = "chk_cartoon", @disabled = "disabled" })
											@Html.Label("chk_teste2","Bla bla bla 2", new { @class = "control-label padding-left-5 padding-top-5" })
										</label>
									</div>
								</div>
								<div class="col-md-2">
									<div class="checkbox">
										<label>
											@Html.CheckBox("chk_teste3", false, new { @class = "chk_cartoon" })
											@Html.Label("chk_teste3", "Bla bla bla 3",  new { @class = "control-label padding-left-5 padding-top-5" })
										</label>
									</div>
								</div>
							</div>
							<div class="row padding-10">
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									<i class="glyphicon glyphicon-remove"></i>&nbsp;Cancela
								</button>
								<button type="button" class="btn btn-success">
									<i class="glyphicon glyphicon-ok"></i>&nbsp;Ok
								</button>

								<button type="button" class="btn btn-success btn-lg" rel="tooltip" data-placement="top" data-original-title="Olá mundo!">
									<i class="fa fa-thumbs-up"></i>
								</button>
								<button type="button" class="btn btn-success btn-sm" rel="tooltip" data-placement="top" data-original-title="Olá mundo!">
									<i class="fa fa-thumbs-up"></i>
								</button>
								<button type="button" class="btn btn-success btn-xs" rel="tooltip" data-placement="top" data-original-title="Olá mundo!">
									<i class="fa fa-thumbs-up"></i>
								</button>

								<button type="button" class="btn btn-danger btn-lg" rel="tooltip" data-placement="top" data-original-title="Descreva o erro.">
									<i class="fa fa-thumbs-down"></i>
								</button>
								<button type="button" class="btn btn-danger btn-sm">
									<i class="fa fa-thumbs-down"></i>
								</button>
								<button type="button" class="btn btn-danger btn-xs">
									<i class="fa fa-thumbs-down"></i>
								</button>

							</div>
							<div class="row padding-10">
								<i class="fa fa-thumbs-up bg-success" title="Está valido"></i>
								<i class="fa fa-thumbs-down bg-danger" title="Está inválido"></i>
							</div>
							<div class="row padding-10">
								<button type="button" id="btnTeste1" class="btn btn-link">teste 1</button>
								<button type="button" id="btnTeste2" class="btn btn-link">teste 2</button>
								<button type="button" id="btnTeste3" class="btn btn-link">teste 3</button>
							</div>
							<div class="row padding-10">
								<button type="button" id="btn-conf-pass-01" class="btn btn-info btn-lg"> Confirmar 1</button>
								<button type="button" id="btn-conf-pass-02" class="btn btn-info btn-lg" data-toggle="modal" data-target="#div-conf-pass-modal">Confirmar 2</button>
								<button type="button" id="btn-conf-pass-03" class="btn btn-info btn-lg">Confirmar 3</button>
							</div>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget div -->

				</div>
				<!-- end widget -->
			</article>
			<!-- WIDGET END -->
		</div>
		<!-- end row -->
		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-sm-12 col-md-12 col-lg-6">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-collapsed="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
						<h2>Basic Buttons</h2>
					</header>

					<!-- widget div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->

						</div>
						<!-- end widget edit box -->
						<!-- widget content -->
						<div class="widget-body">
							<p class="alert alert-info">
								The icons below are the most basic ones, without any icons or additional css applied to it
							</p>
							<p>
								Buttons come in 6 different default color sets
								<code>
									.btn .btn-*
								</code>
								<code>
									.btn-default, .btn-primary, .btn-success... etc
								</code>
							</p>
							<a href="javascript:void(0);" class="btn btn-default">Default</a>
							<a href="javascript:void(0);" class="btn btn-primary">Primary</a>
							<a href="javascript:void(0);" class="btn btn-success">Success</a>
							<a href="javascript:void(0);" class="btn btn-info">Info</a>
							<a href="javascript:void(0);" class="btn btn-warning">Warning</a>
							<a href="javascript:void(0);" class="btn btn-danger">Danger</a>
							<a href="javascript:void(0);" class="btn btn-default disabled">Disabled</a>
							<a href="javascript:void(0);" class="btn btn-link">Link</a>
						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->

				</div>
				<!-- end widget -->

			</article>
			<!-- WIDGET END -->
			<!-- NEW WIDGET START -->
			<article class="col-sm-12 col-md-12 col-lg-6">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-colorbutton="true" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
						<h2> Mix and match colors </h2>

					</header>

					<!-- widget div-->
					<div>

						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->

						</div>
						<!-- end widget edit box -->
						<!-- widget content -->
						<div class="widget-body">
							<p class="alert alert-info">
								Custom buttons with core CSS elements. Mix and match existing classes to come up with unique style buttons.
								<strong>For example:</strong>
								<code>
									.btn .bg-color-blueLight .txt-color-white
								</code>
							</p>
						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->
				</div>
				<!-- end widget -->

			</article>
			<!-- WIDGET END -->
		</div>
		<!-- end row -->
		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-fullscreenbutton="false">

					<header>
						<span class="widget-icon"><i class="fa fa-cogs"></i></span>
						<h2>CartoonSoft - Exemplos II</h2>
					</header>

					<!-- widget div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
							<input class="form-control" type="text">
						</div>
						<!-- end widget edit box -->
						<!-- widget content -->
						<div class="widget-body">
							<div class="panel-group smart-accordion-default" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-lg fa-angle-down pull-right"></i><i class="fa fa-lg fa-angle-up pull-right"></i> Filtros de consulta</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">

											@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "smart-form", @enctype = "multipart/form-data", @id = "frm-tbl-exemplo-1", @name = "frm-tbl-exemplo-1", @novalidate = "novalidate" }))
											{
												@Html.AntiForgeryToken()

												<fieldset class="no-padding">
													<div class="row">
														<section class="col col-2">
															<label class="label">Início</label>
															<label class="input">
																<i class="icon-prepend fa fa-calendar"></i>
																<input type="text" name="dataIni" id="dataIni" placeholder="Data inicial">
															</label>
														</section>
														<section class="col col-2">
															<label class="label">Fim</label>
															<label class="input">
																<i class="icon-prepend fa fa-calendar"></i>
																<input type="text" name="dataFim" id="dataFim" placeholder="Data final">
															</label>
														</section>
													</div>
													<div class="row">
														<section class="col col-6">
															<label class="label">Name</label>
															<label class="input">
																<i class="icon-prepend fa fa-user"></i>
																<input type="text" name="named2" id="named2">
															</label>
														</section>
														<section class="col col-6">
															<label class="label">E-mail</label>
															<label class="input">
																<i class="icon-prepend fa fa-envelope-o"></i>
																<input type="email" name="emaild1" id="emaild1">
															</label>
														</section>
													</div>
												</fieldset>
												<fieldset>
													<section>
														<label class="checkbox"><input type="checkbox" name="copy1" id="copy1"><i></i>exemplo de checkbox</label>
													</section>
												</fieldset>
												<footer class="no-padding no-border bg-color-white">
													<button type="button" id="btn-load-tbl-exemplo-1" class="btn btn-primary">
														Consultar
													</button>
												</footer>
											}
										</div>
									</div>
								</div>
							</div>

							<div class="row padding-10">
								<table id="tbl-exemplo-1" class="table table-striped table-bordered table-hover" style="width:100%">
									<thead>
										<tr>
											<th>Mat./Cód.</th>
											<th>Prenotação</th>
											<th>Descrição</th>
											<th>Data</th>
											<th>Observação</th>
											<th>Status</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
									<tfoot>
									</tfoot>
								</table>
							</div>

						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget div -->

				</div>
				<!-- end widget -->
			</article>
			<!-- WIDGET END -->
		</div>
		<!-- end row -->
		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-fullscreenbutton="true">

					<header>
						<span class="widget-icon"> <i class="fa fa-cogs"></i> </span>
						<h2>CartoonSoft - Exemplos III</h2>
					</header>

					<!-- widget div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
							<input class="form-control" type="text">
						</div>
						<!-- end widget edit box -->
						<!-- widget content -->
						<div class="widget-body">

							<!-- this is what the user will see -->
							<form id="frm-cartoon-soft-exemplo-2" class="smart-form">
								@Html.AntiForgeryToken()
								<fieldset>
									<div class="row">
										<section class="col col-6">
											<label class="label">Name</label>
											<label class="input">
												<i class="icon-prepend fa fa-user"></i>
												<input type="text" name="named1" id="named1">
											</label>
										</section>
										<section class="col col-6">
											<label class="label">E-mail</label>
											<label class="input">
												<i class="icon-prepend fa fa-envelope-o"></i>
												<input type="email" name="emaild2" id="emaild2">
											</label>
										</section>
									</div>

									<section>
										<label class="label">Subject</label>
										<label class="input">
											<i class="icon-append fa fa-tag"></i>
											<input type="text" name="subject" id="subject">
										</label>
									</section>

									<section>
										<label class="label">Message</label>
										<label class="textarea">
											<i class="icon-append fa fa-comment"></i>
											<textarea rows="4" name="message" id="message"></textarea>
										</label>
									</section>

									<section>
										<label class="checkbox"><input type="checkbox" name="copy2" id="copy2"><i></i>Send a copy to my e-mail address</label>
									</section>
								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">Validate Form</button>
								</footer>

								<div class="message">
									<i class="fa fa-thumbs-up"></i>
									<p>Your message was successfully sent!</p>
								</div>
							</form>
						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->

				</div>
				<!-- end widget -->

			</article>
			<!-- WIDGET END -->

		</div>
		<!-- end row -->

	</section>
	<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

<div class="modal fade" id="div-conf-pass-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header" align="center">
				<i class="fa fa-lock fa-4x txt-color-blueDark"></i>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body padding-top-0">
				<form id="frm-conf-pass-modal" class="smart-form" autocomplete="off">
					@Html.AntiForgeryToken()
					<fieldset>
						<div class="row">
							<div class="form-group">
								<label class="label" id="lbl-msg-conf-pass-modal">Mensagem</label>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="form-group">
								<label class="label">Usuário</label>
								<label class="input">
									<i class="icon-prepend fa fa-user"></i>
									<input type="text" id="txt-usuario" value="" placeholder="Usuário">
								</label>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="form-group">
								<label class="label">Senha</label>
								<label class="input">
									<i class="icon-prepend fa fa-unlock-alt"></i>
									<input type="password" id="txt-pass" value="" placeholder="Senha" onfocus="this.value=''" />
								</label>
							</div>
						</div>
					</fieldset>
					<footer>
						<button type="submit" class="btn btn-primary">Confirmar</button>
					</footer>
				</form>
			</div>
		</div>
	</div>
</div>

@section pagespecific {
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="~/Scripts/cartoonsoft/cartoonsoft_libs.js"></script>
	<script>
		$(document).ready(function () {
			/*-- coloque aqui seu código javascript --------------------------*/

			$('#dataIni').datepicker({
				dateFormat: 'dd/mm/yy',
				dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
				dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
				dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
				monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
				monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
				prevText: '<i class="fa fa-chevron-left"></i>',
				nextText: '<i class="fa fa-chevron-right"></i>',
				onSelect: function (selectedDate) {
					$('#dataFim').datepicker('option', 'minDate', selectedDate);
				}
			});

			$('#dataFim').datepicker({
				dateFormat: 'dd/mm/yy',
				dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
				dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
				dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
				monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
				monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
				prevText: '<i class="fa fa-chevron-left"></i>',
				nextText: '<i class="fa fa-chevron-right"></i>',
				onSelect: function (selectedDate) {
					$('#dataIni').datepicker('option', 'maxDate', selectedDate);
				}
			});

			$("#dataIni").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date("01/01/2019"));
			$("#dataFim").datepicker({dateFormat:"dd/mm/yy"}).datepicker("setDate",new Date());

			var urlPovoarTbl = '@Url.Action("IndexAtoAjax", "Atos")';

			$("#btnTeste1").on("click", function () {
				var prom = ShowDlgBoxCartorio({
					headerText: "Aviso importante",
					messageText: "Olá usuário",
					alertType: "primary"
				}).done(function (e) {
					ShowDlgBoxCartorio({
						messageText: "Teste",
						alertType: "success"
					});
				});
			});

			$("#btnTeste2").on("click", function () {
				ShowDlgBoxCartorio({
					type: "confirm",
					headerText: "Favor Confirmar",
					messageText: "O que é o que é?",
					alertType: "info"
				}).done(function (e) {
					//alert(e);
					//$("body").append('<div>Callback from confirm ' + e + '</div>');
					if (e) {
						ShowDlgBoxCartorio({
							messageText: "Você digitou: " + e,
							alertType: "success"
						});

					} else {
						ShowDlgBoxCartorio({
							messageText: "Você digitou: " + e,
							alertType: "danger"
						});
					}
				});
			});

			$("#btnTeste3").on("click", function () {
				ShowDlgBoxCartorio({
					type: "prompt",
					headerText: "Entrada de dados",
					messageText: "Digite algo",
					alertType: "primary"
				}).done(function (e) {
					//alert("vc digitou: " + e)
					ShowDlgBoxCartorio({
						messageText: "Você digitou: " + e,
						alertType: "success"
					});
				});
			});

			/*-- tabela frm-tbl-exemplo-1 ------------------------------------*/
			var tabelaExemplo1 = $('#tbl-exemplo-1').DataTable({
				processing: true,
				responsive: true,
				//serverSide: true, // for process server side
				filter: false, // habilita o filtro(search box)
				pageLength: 10, // define o tamanho da página

				ajax: {
					"url": "/Atos/IndexAtoAjax",
					"type": "POST",
					"dataType": "json",
					"cache": false,
					"data": function (d) {
						var objData = {
							DataIni: $("#dataIni").val(),
							DataFim: $("#dataFim").val(),
							__RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
						};
						return objData;
					},

					"dataSrc": function (dataReturn) {
						if (dataReturn.resposta) {
							var dadosValidos = !(typeof dataReturn.ListaAtoViewModel === 'undefined' || dataReturn.ListaAtoViewModel == null);
							if (dadosValidos) {
								return dataReturn.ListaAtoViewModel;
							}
						} else {
							ShowDlgBoxCartorio({
								headerText: "Retorno do Servidor",
								messageText: dataReturn.msg,
								alertType: "danger"
							});
						}
					},
					"error": function (xhr, error, thrown) {
						alert(thrown.message);
					}
				},

				columnDefs: [
					{ targets: [6], orderable: false, searchable: false }
				],

				columns: [
					{ "data": "Codigo", "title": "Codigo", "name": "Codigo", "autoWidth": true },
					{ "data": "IdPrenotacao", "title": "Prenotacao", "name": "IdPrenotacao", "autoWidth": true },
					{ "data": "DescricaoAto", "title": "Descrição", "name": "DescricaoAto", "autoWidth": true },
					{ "title": "Data", "name": "Data", "autoWidth": true,
						"render": function (data, type, full, meta) {

							var strTmp = "";
							if (full.DataAlteracao) {
								strTmp = moment(full.DataAlteracao).format("DD/MM/YYYY HH:mm");
							} else if (full.DataCadastro) {
								strTmp = moment(full.DataCadastro).format("DD/MM/YYYY HH:mm");
							}

							return strTmp;
						}
					},
					{ "data": "Observacao", "title": "Observações", "name": "Observacao", "autoWidth": true },
					{ "data": "StatusAto", "title": "Status", "name": "StatusAto", "autoWidth": true },
					{
						"render": function (data, type, full, meta) {

							var vetStatusAto = ["AC1", "AC2", "AE", "AR", "CT", "GF", "CI"];
							var tag = '<a href="/Atos/EditarAto/' + full.Id + '" class="btn btn-primary btn-sm" title="Editar ato" ' + (vetStatusAto.includes(full.StatusAto)? ' ': 'disabled="disabled"') +'><i class="fa fa-pencil"></i></a>';
							return tag;
						}
					}
				],

				language: {
					"sEmptyTable": "Não foi encontrado nenhum registo",
					"sLoadingRecords": "A carregar...",
					"sProcessing": "A processar...",
					"sLengthMenu": "Mostrar _MENU_ registos",
					"sZeroRecords": "Não foram encontrados resultados",
					"sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
					"sInfoEmpty": "Mostrando de 0 até 0 de 0 registos",
					"sInfoFiltered": "(filtrado de _MAX_ registos no total)",
					"sInfoPostFix": "",
					"sSearch": "Procurar:",
					"sUrl": "",
					"oPaginate": {
						"sFirst": "Primeiro",
						"sPrevious": "Anterior",
						"sNext": "Seguinte",
						"sLast": "Último"
					},
					"oAria": {
						"sSortAscending": ": Ordenar colunas de forma ascendente",
						"sSortDescending": ": Ordenar colunas de forma descendente"
					},
					decimal: ",",
					thousands: "."
				},

				lengthMenu: [
					[10, 25, 50, -1],
					['10 linhas', '25 linhas', '50 linhas', 'Todos']
				],

				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'pageLength',
						text: '<i class="fa fa-table"></i> Paginação &nbsp;',
						titleAttr: 'Paginação'
					},
					{
						extend: 'excelHtml5',
						text: '&nbsp;<i class="fa fa-file-excel-o"></i> Excel &nbsp;',
						titleAttr: 'exportar para Excel',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5]
						}
					},
					{
						extend: 'pdfHtml5',
						text: '&nbsp;<i class="fa fa-file-pdf-o"></i> Pdf &nbsp;',
						orientation: 'landscape',
						pageSize: 'A4',
						title: '',
						titleAttr: 'exportar para PDF',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5]
						}
					},
					{
						extend: 'print',
						text: '&nbsp;<i class="fa fa-print"></i> Imprimir &nbsp;',
						titleAttr: 'Imprimir',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5]
						}
					}
				]

				//"rowCallback": function (row, data, index) {
				//    if (data[5] == 'AC1') {
				//        $(row).css('background-color', '#C4E4EF');
				//    } else if (data[5] == 'AE') {
				//        $(row).css('background-color', '#E7F4E5');
				//    }
				//}
			});

			//InitOverviewDataTable();
			//setTimeout(function () { AutoReloadTblExemplo1(); }, 30000);

			$("#btn-load-tbl-exemplo-1").click(function (e) {
				e.preventDefault();
				tabelaExemplo1.ajax.reload();
			});

			$("#btn-conf-pass-01").click(function (e) {

				$.SmartMessageBox({
					title: "Confirmar com identificação de usuário",
					content: "Nome usuário",
					buttons: "[Cancelar][Avançar]",
					input: "text",
					inputValue: "",
					placeholder: "Usuário"
				}, function (ButtonPress, Value) {
					if (ButtonPress == "Cancelar") {
						//alert("Why did you cancel that? :(");
						return 0;
					}

					var value1 = Value.toUpperCase();
					ValueOriginal = Value;
					$.SmartMessageBox({
						title: "<strong>" + value1 + ",</strong>",
						content: "Digite sua senha:",
						buttons: "[Cancelar][Login]",
						input: "password",
						inputValue: "",
						placeholder: "Senha"
					}, function (ButtonPress, Value) {
						if (ButtonPress == "Login") {
								alert("Usuário: " + ValueOriginal + " pass : " + Value);
						}
						return 0;
					});
				});

				e.preventDefault();
			});

			$("#btn-conf-pass-03").click(function (e) {
				e.preventDefault();
				ShowUserConfModalDlg("Olá mundo!")
			});

		});

		/**
		 * Mostra dialogo de confirmacao de usuario senha
		 * @@param {any} pMsg
		 */
		function ShowUserConfModalDlg(pMsg) {

			$('#lbl-msg-conf-pass-modal').text(pMsg);
			$('#div-conf-pass-modal').modal({
				transition: 'scale',
				centered: true,
				closable: false,
				allowMultiple: true,
				closable: false
			}).modal('show');
		}

	</script>
}		