@using Infra.Cross.Identity.ViewModels
@model LoginViewModel
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}

<!--css styles -->
@section styles_especific {
    <style>
        .video-bg {
	        position: fixed;
            width: 100%;
	        top: 0;
	        left: 0;
	        right: 0;
	        bottom: 0;
	        display: block;
	        background-position: center center;
	        background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
        }

        .video-bg {
	        background-image: url("../../Content/files/open-plan-working.jpg");
        }
        
        .center_form {
            position: fixed;
            top: 20%;
            left: 40%;
        }

        #header {
             display: none;
        }

        #left-panel {
            display: none;
        }

        #cartorio-page-footer {
             display: none;
        }

    </style>
}

@section topright{
    <!--
    <span id="extr-page-header-space"> <span class="hidden-mobile">Need an account?</span> <a href="@Url.Action("register", "account")" class="btn btn-danger">Create account</a> </span>
    -->
}

<!-- Start full screen video background -->
<video class="video-bg" autoplay muted loop poster="../../Content/files/open-plan-working.jpg">
    <source src="../../Content/files/open-plan-working.mp4" type="video/mp4">
    <source src="../../Content/files/open-plan-working.webm" type="video/webm">
    <source src="../../Content/files/open-plan-working.ogv" type="video/ogg">
</video>
<!-- End full screen video background -->

<div id="content" class="container">
    <div class="center_form">
        <div class="well bordered">
            <form action="@Url.Action("login", "account")" method="POST" id="login-form" class="smart-form">
                <header>
                    <img src="~/Content/img/logoCart11RI.png" />
                    <h4><strong>@Cartorio11RI.Settings.Company</strong></h4>
                    <p class="small txt-color-grayDark"><strong>Versão @ViewContext.Controller.GetType().Assembly.GetName().Version</strong></p>
                </header>
                @Html.HiddenFor(m => m.ReturnUrl)
                @Html.AntiForgeryToken()
                @Html.ValidationBootstrap()
                <fieldset>
                    <section>
                        <label class="label">Usuário</label>
                        <label class="input">
                            <i class="icon-prepend fa fa-user"></i>
                            <input type="text" name="UserName">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> digite seu nome de usuário</b>
                        </label>
                    </section>

                    <section>
                        <label class="label">Senha</label>
                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            <input type="password" name="Password">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Digite sua senha</b>
                        </label>
                        <div class="note">
                            <a href="@Url.Action("forgotpassword", "account")"><i class="fa fa-frown-o"></i> Esqueci minha senha.</a>
                        </div>
                    </section>

                    <section>
                        <label class="checkbox">
                            @Html.CheckBoxFor(model =>model.RememberMe)
                            <i></i>Me mantenha conectado
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        Entrar
                    </button>
                </footer>
            </form>
        </div>

    </div>


</div>

@section pagespecific {
    <script>
        $(document).ready(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },
                // Messages for form validation
                messages: {
                    email: {
                        required: 'Entre com seu e-mail',
                        email: 'E-mail não é válido'
                    },
                    password: {
                        required: 'Digite sua senha'
                    }
                },
                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}
