@model Cartorio11RI.ViewModels.ModeloDocxViewModel

@Html.AntiForgeryToken()
@Html.ValidationBootstrap()
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IdCtaAcessoSist)
@Html.HiddenFor(model => model.IdTipoAto)
@Html.HiddenFor(model => model.IpLocal)

<fieldset>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				@Html.LabelFor(model => model.DescricaoTipoAto)
				<select id="sel-tipo-ato" class="form-control selectpicker show-tick">
					@foreach (var item in ViewBag.listaTipoAto)
					{
						<optgroup label="@item.Descricao">
							<option hidden>Selecione um tipo...</option>
							@if (item.ListaTipoAtosFihos.Count > 0)
                            {
                                foreach (var item2 in item.ListaTipoAtosFihos)
                                {
									<option onclick="SelecionarTipoAto(this, @item2.Id);" @(item2.Id ==  Model.IdTipoAto ? "selected": "")>@item2.Descricao</option>
								}
							}
						</optgroup>
					}
				</select>
			</div>
		</div>
		<div class="col-md-8">
			<div class="form-group">
				@Html.LabelFor(model => model.DescricaoModelo)
				@Html.TextBoxFor(model => model.DescricaoModelo, null, new { @class = "form-control", @placeholder = "Digite o nome do modelo" })
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				@Html.LabelFor(model => model.DescricaoTipoAto)
				<div class="input-group">
					<select class="form-control">
					</select>
					<div class="input-group-btn">
						<button class="btn btn-info" type="button">
							Inserir
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<textarea class="form-control" cols="160" id="ckeditor-modelo-ato" name="Texto" rows="20"></textarea>
		</div>
	</div>
</fieldset>
<div class="form-actions">
	<button type="submit" id="btnSalvarModelo" class="btn btn-primary btn-lg">
		<i class="glyphicon glyphicon-upload"></i>
		Salvar
	</button>
	@Html.ActionLink("Voltar", "IndexModelo", "Modelos", null, new { @class = "btn btn-default btn-lg" })
</div>


