@model Cartorio11RI.ViewModels.ModeloDocxViewModel

@Html.AntiForgeryToken()
@Html.ValidationBootstrap()
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IdCtaAcessoSist)
@Html.HiddenFor(model => model.IdTipoAto)
@Html.HiddenFor(model => model.IpLocal)

<fieldset>
    <div class="row">
        <section class="col col-6">
            <div class="div-container-scroll">
                <div class="tree">
                    <ul>
                        <li>
                            <span><i class="fa fa-lg fa-file-word-o"></i> Selecione o tipo de documento</span>
                            <ul>
                                @foreach (var item in ViewBag.listaTipoAto)
                                {
                                    <li>
                                        <span title="@item.Orientacao">
                                            <i class="fa fa-lg fa-plus-circle"></i><strong> @item.Descricao</strong>
                                        </span>
                                        @if (item.ListaTipoAtosFihos.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var item2 in item.ListaTipoAtosFihos)
                                                {
                                                    <li style="display:none">
                                                        <button type="button" class="btn btn-info btn-sm btn-tree-tipo-ato" id="btn_tree_tipo_ato_@item2.Id" rel="popover-hover" data-placement="right" data-original-title="Descrição" data-content="@item2.Orientacao" onclick="SelecionarTipoAto(this, @item2.Id);"><i class="glyphicon glyphicon-menu-right"></i> @item2.Descricao</button>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col col-6">
            <div class="row">
                @Html.LabelFor(model => model.DescricaoTipoAto)
                <label class="input">
                    @Html.TextBoxFor(model => model.DescricaoTipoAto, null, new { @class = "form-control", @readonly = "readonly" })
                </label>
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(model => model.DescricaoModelo)
                <label class="input">
                    @Html.TextBoxFor(model => model.DescricaoModelo, null, new { @class = "form-control", @placeholder = "Digite o nome do modelo" })
                </label>
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(model => model.ArquivoDocxModelo)
                @Html.TextBoxFor(model => model.ArquivoDocxModelo, null, new { @type = "file", @class = "form-control btn btn-primary btn-sm input-file", @accept = ".docx" })
            </div>
            <br />
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.CaminhoEArquivo))
                {
                    <button type="button" class="btn btn-primary form-control" id="btnDownModelo" title="Baixar modelo (arquivo .docx) do servidor para editar localmente em sua máquina.">
                        <i class="glyphicon glyphicon-cloud-download"></i> Baixar modelo
                    </button>
                }
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col col-6"></section>
    </div>
</fieldset>
<footer>
    <button type="submit" id="btnSalvarModelo" class="btn btn-primary btn-lg">
        <i class="glyphicon glyphicon-upload"></i>
        Salvar
    </button>
    @Html.ActionLink("Voltar", "IndexModelo", "Modelos", null, new { @class = "btn btn-default btn-lg" })
</footer>


