@model IEnumerable<Cartorio11RI.ViewModels.ModeloDocxListViewModel>

@{
	ViewBag.Title = ViewContext.RouteData.Values["controller"];
	ViewBag.SubTitle = ViewContext.RouteData.Values["action"];
}


@section styles_especific {

	<style>
		/*------------------------------------------------------------------------------
		tbl-modelosdocx
		------------------------------------------------------------------------------*/
		#tbl-modelosdocx {
			/*border: 1px solid #808080; */
			table-layout: auto;
			width: 100%;
		}

			#tbl-modelosdocx tr td:nth-child(1) {
				width: 5%;
			}

			#tbl-modelosdocx tr td:nth-child(2) {
				width: 40%;
			}

			#tbl-modelosdocx tr td:nth-child(3) {
				width: 5%;
			}

			#tbl-modelosdocx tr td:nth-child(4) {
				width: 10%;
			}

			#tbl-modelosdocx tr td:nth-child(5) {
				width: 2%;
			}

			#tbl-modelosdocx tr td:nth-child(6) {
				width: 20%;
			}

			#tbl-modelosdocx tr td:nth-child(7) {
				text-align: right;
				align-content: flex-end;
				margin-left: 1em;
			}

		/**********************************************************************/
		.desaparecer {
			opacity: 0;
			transition: 0.5s;
		}

		.btn-width-80px {
			width: 80px;
		}
	</style>
}

<div id="divMensagem" class="alert" hidden>
	<label id="labelMensagem"></label>
</div>

<div id="content">
	<input hidden id="IP" />
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="fa-fw fa fa-file-word-o"></i>
				@ViewBag.Title
				<span>
					<i class="fa fa-chevron-right"></i> @ViewBag.SubTitle
				</span>
			</h1>
		</div>
	</div>
	<section id="widget-grid" class="">
		<div class="row">
			<p>
				<a href="@Url.Action("NovoModelo", "Modelos")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Novo Modelo</a>
			</p>

			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Modelos de documentos</h2>
				</header>

				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->
					<!-- widget content -->
					<div class="widget-body no-padding">
						<table id="tbl-modelosdocx" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>
										Código
									</th>
									<th>
										Nome
									</th>
									<th>
										Sigla
									</th>
									<th>
										Tipo
									</th>
									<th>
										Ativo
									</th>
									<th>
										Orientações
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr id="tr@item.Id">
										<td>
											@Html.DisplayFor(modelItem => item.Id)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Descricao)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.SiglaSeqAto)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.DescricaoTipo)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Ativo)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Orientacao)
										</td>
										<td>
											@Html.ActionLink("Editar", "EditarModelo", new { Id = item.Id }, new { @class = "btn btn-primary" })
											@if (item.Ativo)
											{
												<button class="btn btn-default btn-width-80px" onclick="DesativarModelo(this, @item.Id);">Desativar</button>
											} else
											{
												<button class="btn btn-default btn-width-80px" onclick="AtivarModelo(this, @item.Id);">Ativar</button>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
		</div>
	</section>
</div>

@section pagespecific{

	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="~/Scripts/cartoonsoft/cartoonsoft_libs.js"></script>

	<script type="text/javascript">

		$(document).ready(function () {
			//coloque aqui seu codigo jquery
			$('#tbl-modelosdocx').dataTable({
				//autoWidth: true,
				processing: true,
				//responsive: true,
				//serverSide: true, // for process server side
				filter: false, // habilita o filtro(search box)
				pageLength: 10, // define o tamanho da página

				columnDefs: [{ orderable: false, targets: [4, 6] }],

				language: {
					"sEmptyTable": "Não foi encontrado nenhum registo",
					"sLoadingRecords": "A carregar...",
					"sProcessing": "A processar...",
					"sLengthMenu": "Mostrar _MENU_ registos",
					"sZeroRecords": "Não foram encontrados resultados",
					"sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
					"sInfoEmpty": "Mostrando de 0 até 0 de 0 registos",
					"sInfoFiltered": "(filtrado de _MAX_ registos no total)",
					"sInfoPostFix": "",
					"sSearch": "Procurar:",
					"sUrl": "",
					"oPaginate": {
						"sFirst": "Primeiro",
						"sPrevious": "Anterior",
						"sNext": "Seguinte",
						"sLast": "Último"
					},
					"oAria": {
						"sSortAscending": ": Ordenar colunas de forma ascendente",
						"sSortDescending": ": Ordenar colunas de forma descendente"
					},
					decimal: ",",
					thousands: "."
				},

				lengthMenu: [
					[10, 25, 50, -1],
					['10 linhas', '25 linhas', '50 linhas', 'Todos']
				],

				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'pageLength',
						text: '<i class="fa fa-table"></i> Paginação &nbsp;',
						titleAttr: 'Paginação'
					},
					{
						extend: 'excelHtml5',
						text: '&nbsp;<i class="fa fa-file-excel-o"></i> Excel &nbsp;',
						titleAttr: 'exportar para Excel',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5]
						}
					},
					{
						extend: 'pdfHtml5',
						text: '&nbsp;<i class="fa fa-file-pdf-o"></i> Pdf &nbsp;',
						orientation: 'landscape',
						pageSize: 'A4',
						title: '',
						titleAttr: 'exportar para PDF',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5]
						}
					},
					{
						extend: 'print',
						text: '&nbsp;<i class="fa fa-print"></i> Imprimir &nbsp;',
						titleAttr: 'Imprimir',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5]
						}
					}
				]

				//"rowCallback": function (row, data, index) {
				//    if (data[5] == 'AC1') {
				//        $(row).css('background-color', '#C4E4EF');
				//    } else if (data[5] == 'AE') {
				//        $(row).css('background-color', '#E7F4E5');
				//    }
				//}

			});

		});

		/** --------------------------------------------------------------------
		 * Ativar Modelo
		 * @@param obj
		 * @@param idModelo
		--------------------------------------------------------------------- */
		function AtivarModelo(obj, idModelo) {
			ShowDlgBoxCartorio({
				type: "confirm",
				headerText: "Favor Confirmar Operação",
				messageText: "Deseja Ativar o modelo de Código: " + idModelo,
				alertType: "info"
			}).done(function (e) {
				//alert(e);
				if (e) {
					//todo: fazer chamada ajax para ativar
					var dados = {
						IdModelo: idModelo,
						IP: ""
					};

					ShowDlgBoxCartorio({
						messageText: "Modelo ativado com sucesso!",
						alertType: "success"
					});
				} else {
					//
				}
			});
		}

		/** --------------------------------------------------------------------
		 * Desativar modelo
		 * @@param obj
		 * @@param idModelo
		--------------------------------------------------------------------- */
		function DesativarModelo(obj, idModelo) {
			ShowDlgBoxCartorio({
				type: "confirm",
				headerText: "Favor Confirmar Operação",
				messageText: "Deseja desativar o modelo de Código: " + idModelo,
				alertType: "info"
			}).done(function (e) {
				//alert(e);
				if (e) {
					//todo: fazer chamada ajax para desativar
					var dados = {
						IdModelo: idModelo,
						IP: ""
					};

					ShowDlgBoxCartorio({
						messageText: "Modelo desativado com sucesso! <br/>Não se poderá mais criar atos a partir deste modelo.",
						alertType: "success"
					});
				} else {
					//
				}
			});
		}

	</script>
}
