@model AppBootStrapMin.ViewModels.TB_MODELO_DOC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_MODELO_DOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_TP_ATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TP_ATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_CTA_ACESSO_SIST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CTA_ACESSO_SIST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USR_CAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USR_CAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USR_ALTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USR_ALTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_CAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_CAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_ALTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_ALTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARQUIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARQUIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARQ_BYTES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARQ_BYTES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATIVO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MODELO_DOC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
