@model AdmCartorio.ViewModels.AtoListViewModel

@{
    ViewBag.Title = "Atos";
    ViewBag.SubTitle = "Finalizar";
}
@section styles_especific {
    <style>
        .linkArquivo:hover {
            cursor: pointer
        }
    </style>
}


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-pencil-square-o fa-fw "></i>
                @ViewBag.Title
                <span>
                    >
                    @ViewBag.SubTitle
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                    <header>
                        <h2>Finalizar o ato</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <div class="widget-body">
                            <div class="row text-align-center">
                                <label style="color:black; font-size:24px;">
                                    Deseja Finalizar o Ato:
                                    <b>@Html.DisplayFor(model => model.Id)</b> ?
                                </label>
                            </div>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <section class="col col-6">
                                            <div class="row padding-10 padding-left-10 text-capitalize font-md">
                                                @Html.LabelFor(model => model.IdPrenotacao)
                                                @Html.DisplayTextFor(model => model.IdPrenotacao)
                                            </div>
                                            <div class="row padding-10 padding-left-10 text-capitalize font-md">
                                                @Html.LabelFor(model => model.NumMatricula)
                                                @Html.DisplayTextFor(model => model.NumMatricula)
                                            </div>
                                            <div class="row padding-10 padding-left-10 text-capitalize font-md">

                                                @Html.Label("Situação:")

                                                @if (!Model.Bloqueado)
                                                {
                                                    @Html.Label("Disponível para alteração")

                                                }
                                                else
                                                {
                                                    @Html.Label("Finalizado")
                                                }
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-sm-7">
                                        <section class="col col-5 bordered padding-top-15 padding-bottom-10 text-align-center">
                                            <br />
                                            @if (!Model.Bloqueado)
                                            {
                                                <h2>
                                                    <a id="btnDownload" target="_blank"  class="linkArquivo" href="@Url.Action("DownloadFile","Ato",new { ID = Model.NumMatricula})">
                                                        Cliqui aqui para baixar o ato <i class="glyphicon glyphicon-download"></i>
                                                    </a>
                                                </h2>
                                            }
                                            else
                                            {
                                                <h2> Ato já finalizado  </h2>
                                            }
                                            <br />
                                        </section>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="">
                                @if (!Model.Bloqueado)
                                {
                                    <button type="button" id="btnFinalizar" class="btn btn-success font-md margin-bottom-10" style="float:right;">
                                        Finalizar
                                    </button>
                                }
                                else
                                {
                                    <label type="" id="btnFinalizar" class="btn btn-success font-md margin-bottom-10" style="float:right;" disabled>
                                        Finalizar
                                    </label>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>
@Scripts.Render("~/Scripts/libs/jquery-2.1.1.min.js")

@section pagespecific{
    <script>
        $('#btnFinalizar').on('click', function () {
            $.post({
                url: '@Url.Action("Finalizar","Ato")',
                method: 'POST',
                success: function () {

                },
                error: function () {

                },
                beforeSend: function () {

                }
            });
        };
    </script>
}
