@model IEnumerable<AdmCartorio.ViewModels.AtoListViewModel>

@{
    ViewBag.Title = "Registros recentes";
    ViewBag.SubTitle = "Index";
}

@section styles_especific {

    <style>
        /*------------------------------------------------------------------------------
        tbl-list-atos
        ------------------------------------------------------------------------------*/
        #tbl-list-atos {
            /*border: 1px solid #808080; */
            table-layout: auto;
            width: 100%;
        }

            #tbl-list-atos tr td:nth-child(1) {
                width: 15%;
            }

            #tbl-list-atos tr td:nth-child(2) {
                width: 10%;
            }

            #tbl-list-atos tr td:nth-child(3) {
                width: 10%;
            }

            #tbl-list-atos tr td:nth-child(4) {
                width: 10%;
            }

            #tbl-list-atos tr td:nth-child(5) {
                width: 15%;
            }

            #tbl-list-atos tr td:nth-child(6) {
                width: 25%;
            }


        /**********************************************************************/
        .desaparecer {
            opacity: 0;
            transition: 0.5s;
        }
    </style>
}
<div id="divMensagem" class="alert" hidden>
    <label id="labelMensagem"></label>
</div>


<div id="content">
    <input hidden id="IP" />
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-user"></i>
                @ViewBag.Title
                <span>
                    >
                    @ViewBag.SubTitle
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <p>
                <a href="@Url.Action("Cadastrar", "Ato")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Novo registro</a>
            </p>

            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-colorbutton="false">

                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Atos</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <table id="tbl-list-atos" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="1">
                                        Reg./Mat.
                                    </th>
                                    <th colspan="1">
                                        Prenotação
                                    </th>
                                    <th colspan="1">
                                        Tipo
                                    </th>
                                    <th colspan="1">
                                        Data
                                    </th>
                                    <th colspan="2">
                                        Observação
                                    </th>
                                    <th colspan="2"> 
                                        Status
                                    </th>
                                    <th colspan="2" style="display:none;" ></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.Id">
                                        <td colspan="1">
                                            @Html.DisplayFor(modelItem => item.Codigo)
                                        </td>
                                        <td colspan="1">
                                            @Html.DisplayFor(modelItem => item.IdPrenotacao)
                                        </td>
                                        <td colspan="1">
                                            @Html.DisplayFor(modelItem => item.DescricaoTipoAto)
                                        </td>
                                        <td colspan="1">
                                            @Html.DisplayFor(modelItem => item.DataCadastro)
                                        </td>
                                        <td colspan="2">
                                            @Html.DisplayFor(modelItem => item.Observacao)
                                        </td>
                                        <td class="text-capitalize" colspan="2">
                                            @{
                                                if (item.Bloqueado == true)
                                                {
                                                    <label>Bloqueado</label>
                                                }
                                                else
                                                {
                                                    <label>Disponível para alteração</label>
                                                }
                                            }
                                        </td>
                                        <td class="row" colspan="2">
                                            @{
                                                if (!item.Bloqueado)
                                                {
                                                    @Html.ActionLink("Bloquear", "Bloquear", new { Id = item.Id }, new { @class = "btn btn-danger col-sm-4" })
                                                    @Html.ActionLink("Editar", "Editar", new { Id = item.Id }, new { @class = "btn btn-primary col-sm-4 col-sm-offset-1" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Historico", "DownloadFileCompleto", new { ID = item.NumMatricula }, new { @class = "btn btn-default col-sm-9" })
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
        </div>
    </section>
</div>

@section pagespecific{

    <script type="text/javascript">

        var responsiveHelper_dt_basic = undefined;
        var breakpointDefinition = {
            Id: 1
        };

        $(document).ready(function () {

            //coloque aqui seu codigo jquery

            $("#tbl-list-atos").dataTable({
                columnDefs: [{ orderable: false, targets: [4, 5,6] }],

                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tbl-list-atos'));
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                },
                "order": [[ 3, "desc" ]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ reg. por página",
                    "zeroRecords": "Nenhum Registro Encontrado",
                    "info": "Mostrando Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro Disponível",
                    "infoFiltered": "(filtrado)",
                    "loadingRecords": "Lendo...",
                    "processing": "Processando...",
                    "search": "Procurar: ",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próx.",
                        "previous": "Anterior"
                    },
                }
            });

        });

    </script>
}