@model IEnumerable<AdmCartorio.ViewModels.DadosPessoaViewModel>

<div class="modal-dialog" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1>Dados das Pessoas</h1>
        </div>
        <div class="modal-body">
            <div class="hidden" id="divMsgPessoas">
                <div class="alert alert-danger">
                    <label class="" id="lblMsgPessoas">Por favor, selecione ao menos uma pessoa!</label>
                </div>
            </div>
            <table id="tblPartialPessoa" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NOM)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ENDER)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TIPODOC1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NRO1)
                        </th>
                        <th>
                            Utilizar?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr id="@item.SEQPES" data-bai="@item.BAI" data-CEP="@item.CEP" data-CID="@item.CID" data-UF="@item.UF"
                                    data-TEL="@item.TEL" data-TIPODOC2="@item.TIPODOC2" data-NRO2="@item.NRO2" data-tpPessoa="@item.TipoPessoa">

                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ENDER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TIPODOC1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NRO1)
                                    </td>
                                    <td>
                                        <input class="" type="checkbox" name="ckUsar" value="" checked />
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button id="btnFecharPessoas"  type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            <button id="enviaInfoPessoa"
                    type="button" class="btn btn-primary">
                Salvar informações
            </button>
        </div>
    </div>
</div>
<script>

    $('#btnFecharPessoas').on('click', function () {
        LimparTabelaPessoas();
        DesabilitarProximo();
        $('#labelResp').text('Por favor, selecione algum participante!');
        $('#divResp').removeAttr('hidden');
    });


    $('#enviaInfoPessoa').on('click', function () {
        var elementos = $('#tblPartialPessoa > tbody > tr');
        var itens = [];
        for (var i = 0; i < elementos.length; i++) {
            if ($(elementos[i]).find('[checked]').parents('tr') != null) {
                var linha = $(elementos[i]).find('[checked]').parents('tr');
                itens.push(linha);
            }
        }
      
        if ($.isEmptyObject(itens)) {
            MostrarMensagemErro();
            LimparTabelaPessoas();
        } else {
            EsconderMensagemErro();
            while (!$.isEmptyObject(itens)) {
                var item = itens.pop();
                PreencherTabelaPessoas(item);
                $('#PartialDadosPessoas').modal('hide');
                HabilitarProximo();
                $('#divResp').attr('hidden');

            }
        }
    });

    function MostrarMensagemErro() {
        $('#divMsgPessoas').removeClass('hidden');
    }
    function EsconderMensagemErro() {
        $('#divMsgPessoas').addClass('hidden');
    }
    function PreencherTabelaPessoas(item) {
        LimparTabelaPessoas();
        var tabela = $('#tblPessoas > tbody');
        var linha = '<tr>'+
                        '<td>' + $(item).data("tppessoa") + '</td>' +
                        '<td>' + $(item).children('td').get(0).innerText + '</td>' +
                        '<td>' + ($(item).data("bai") ==  undefined ? "" : $(item).data("bai")) + '</td>' +
                        '<td>' + ($(item).data("CID") == undefined ? "" : $(item).data("CID")) + '</td>' +
                        '<td>' + ($(item).data("UF") == undefined ? "" : $(item).data("UF")) + '</td>' +
                        '<td>' + ($(item).data("CEP") == undefined ? "" : $(item).data("CEP")) + '</td>' +
                        '<td>' + ($(item).data("TEL") == undefined ? "" : $(item).data("TEL"))+ '</td>' +
                        '<td>' + $(item).children('td').get(2).innerText + '</td>' +
                        '<td>' + $(item).children('td').get(3).innerText + '</td>' +
                        '<td>' + ($(item).data("TIPODOC2") == undefined ? "" : $(item).data("TIPODOC2")) + '</td>' +
                        '<td>' + ($(item).data("NRO2") == undefined ? "" : $(item).data("NRO2"))+ '</td>' +
                    '</tr>';
        $(tabela).append(linha);
    }

    function LimparTabelaPessoas() {
        var tabela = $('#tblPessoas > tbody > tr');
        for (var i = 0; i < tabela.length; i++) {
            tabela[i].remove();
        }
    }
</script>
