@model IEnumerable<AdmCartorio.ViewModels.DadosPessoaViewModel>

<div class="container" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h1>Dados das Pessoas</h1>
        </div>
        <div class="modal-body">
            <div class="hidden" id="divMsgPessoas">
                <div class="alert alert-danger">
                    <label class="" id="lblMsgPessoas">Por favor, selecione ao menos uma pessoa!</label>
                </div>
            </div>
            <table id="tblPartialPessoa" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoPessoa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Endereco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoDoc1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Numero1)
                        </th>
                        <th>
                            Utilizar?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr id="@item.IdPessoa" data-bairro="@item.Bairro" data-CEP="@item.CEP" data-cidade="@item.Cidade" data-UF="@item.UF"
                                    data-telefone="@item.Telefone" data-tipodoc2="@item.TipoDoc2" data-numero2="@item.Numero2" data-tpPessoa="@item.TipoPessoa">

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoPessoa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Endereco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDoc1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numero1)
                                    </td>
                                    <td>
                                        <input class="" type="checkbox" name="ckUsar" value="" checked />
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button id="btnFecharPessoas" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            <button id="enviaInfoPessoa"
                    type="button" class="btn btn-primary">
                Salvar informações
            </button>
        </div>
    </div>
</div>
<script>
    /************************ VARIAVEL GLOVAL *************************************/
    var participantes = [];

    /*********************************** EVENTOS **********************************/
    $('#btnFecharPessoas').on('click', btnFecharPessoasClick);
    $('#enviaInfoPessoa').on('click', enviaInfoPessoaClick);

    /****************************** FUNCOES DE EVENTOS ***************************/
    function btnFecharPessoasClick() {
        LimparTabelaPessoas();
        DesabilitarProximo();
        $('#labelRespPes').text('Por favor, selecione algum participante!');
        $('#divRespPes').removeAttr('hidden');
        participantes = [];
        $('#linkParticipantes').removeClass('hidden');
    }
    function enviaInfoPessoaClick() {
        const elementos = $('#tblPartialPessoa > tbody > tr > td > input');
        let itens = [];
        for (let i = 0; i < elementos.length; i++) {
            if ($(elementos[i]).prop('checked')) {
                const linha = $(elementos[i]).closest('tr');
                itens.push(linha);
            }
        }
        participantes = [];
        if ($.isEmptyObject(itens)) {
            MostrarMensagemErro();
            LimparTabelaPessoas();
        } else {
            EsconderMensagemErro();
            LimparTabelaPessoas();
            while (!$.isEmptyObject(itens)) {
                let item = itens.pop();
                participantes.push(item);
                PreencherTabelaPessoas(item);
                $('#PartialDadosPessoas').modal('hide');
                console.log(participantes);
            }
            HabilitarProximo();
            IrParaProximo();
            $('#divRespPes').attr('hidden', 'hidden');
            $('#linkParticipantes').removeClass('hidden');
        }
    }
    /*********************************** FUNCOES *********************************/

    function MostrarMensagemErro() {
        $('#divMsgPessoas').removeClass('hidden');
    }
    function EsconderMensagemErro() {
        $('#divMsgPessoasPes').addClass('hidden');
    }
    function PreencherTabelaPessoas(item) {
        const tabela = $('#tblPessoas > tbody');
        const linha = '<tr>' +
            '<td>' + $(item).data("tppessoa").trim() + '</td>' +
            '<td>' + $(item).children('td').get(0).innerText.trim() + '</td>' +
            '<td>' + $(item).children('td').get(2).innerText.trim() + '</td>' +
            '<td>' + $(item).children('td').get(4).innerText.trim() + '</td>' +
            '<td>' + $(item).children('td').get(3).innerText.trim() + '</td>' +
            '<td>' + ($(item).data("bairro").trim() == undefined || $(item).data("bairro").trim() == "" ? "-" : $(item).data("bairro").trim()) + '</td>' +
            '<td>' + ($(item).data("cidade").trim() == undefined || $(item).data("cidade").trim() == "" ? "-" : $(item).data("cidade").trim()) + '</td>' +
            '<td>' + ($(item).data("UF") == undefined ? "-" : $(item).data("UF").trim()) + '</td>' +
            '<td>' + ($(item).data("CEP") == undefined ? "-" : $(item).data("CEP").trim()) + '</td>' +
            '<td>' + ($(item).data("telefone").trim() == undefined || $(item).data("telefone").trim() == "" ? "-" : $(item).data("telefone").trim()) + '</td>' +
            '</tr>';
        $(tabela).append(linha);
    }

    
</script>