@model AdmCartorio.ViewModels.CadastroDeAtoViewModel

@{
    ViewBag.Title = "Atos";
    ViewBag.SubTitle = "Novo Ato";
}
@section styles_especific{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <style type="text/css">

        .text-area {
            height: 300px !important;
            width: 14.3cm;
            /* Keep the "page" off the boundaries of the container. */
            padding: 1cm 1cm 1cm;
            border: 1px hsl( 0,0%,82.7% ) solid;
            border-radius: var(--ck-border-radius);
            background: white;
            /* The "page" should cast a slight shadow (3D illusion). */
            box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );
            /* Center the "page". */
            margin: 0 auto;
            font-size: 18px;
            line-height: 0.6cm;
            /*padding-top: .5em;*/
            /*margin-bottom: 0.4cm;*/
            font-family: "Times New Roman";
        }

        .linkModal:hover {
            cursor: pointer
        }

        /*------------------------------------------------------------------------------
        tblPessoas
        ------------------------------------------------------------------------------*/
        #tblPessoas {
            /*border: 1px solid #808080; */
            table-layout: auto;
            width: 100%;
        }

            #tblPessoas tr td:nth-child(1) {
                width: 5%;
            }

            #tblPessoas tr td:nth-child(2) {
                width: 25%;
            }

            #tblPessoas tr td:nth-child(3) {
                width: 15%;
            }

            #tblPessoas tr td:nth-child(4) {
                width: 15%;
                text-align: left;
                align-content: flex-start;
                margin-left: 1em;
            }
    </style>
}



@if (ViewBag.sucesso != null)
{
    <div class="alert alert-success">
        <label class="">@ViewBag.sucesso</label>
    </div>
}
@if (ViewBag.erro != null)
{
    <div class="alert alert-danger">
        <label class="">@ViewBag.erro</label>
    </div>
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-pencil-square-o fa-fw "></i>
                @ViewBag.Title
                <span>
                    @ViewBag.SubTitle
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-10">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">

                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-collapsed="true" data-widget-fullscreenbutton="true">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                    <header>
                        <h2>Cadastro de Atos </h2>
                    </header>
                    <div>
                        <div class="widget-body fuelux">
                            <div class="row">
                                @using (Html.BeginForm("Cadastrar", "Ato", FormMethod.Post, new { enctype = "multipart/form-data", id = "wizard-1" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div id="bootstrap-wizard-1" class="col-sm-12">
                                        <div class="wizard">
                                            <ul class="steps" id="list">
                                                <li class="active" data-target="#step1">
                                                    <span class="badge badge-info">1</span>Dados do Imóvel<span class="chevron"></span>
                                                </li>
                                                <li data-target="#step2">
                                                    <span class="badge">2</span>Dados dos participantes<span class="chevron"></span>
                                                </li>
                                                <li data-target="#step3">
                                                    <span class="badge">3</span>Busca de Modelo<span class="chevron"></span>
                                                </li>
                                                <li data-target="#step4">
                                                    <span class="badge">4</span>Escrita de Ato<span class="chevron"></span>
                                                </li>
                                                <li data-target="#step5">
                                                    <span class="badge">5</span>Confirmação<span class="chevron"></span>
                                                </li>
                                            </ul>

                                            <div class="actions">
                                                <button type="button" class="btn btn-sm btn-primary btn-prev" id="btnVoltar" onclick="voltarPasso()" disabled>
                                                    <i class="fa fa-arrow-left"></i>Anterior
                                                </button>
                                                <button type="button" class="btn btn-sm btn-success active" id="btnProximo" onclick="IrParaProximo()" data-last="Finish">
                                                    Próximo<i class="fa fa-arrow-right"></i>
                                                </button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="step-content">
                                            <div class="step-pane active" id="step1">
                                                <br>
                                                <h3><strong>Passo 1 </strong> - Pesquisa de dados do imóvel</h3>
                                                <div class="row" hidden id="divResp">
                                                    <div class="col-sm-12 alert alert-danger">
                                                        <label id="labelResp" class="">Não existe imóvel para os dados digitados!</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-list fa-lg fa-fw"></i></span>
                                                                <input id="txtPrenotacao" onkeyup="ResetarCampos()" type="number" min="1" title="Digite a prenotação corretamente" placeholder="Digite a prenotação " class="form-control input-lg" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5 padding-right-5">
                                                        <div class="">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-building fa-lg fa-fw"></i></span>
                                                                <input id="txtMatricula" onkeyup="ResetarCampos()" min="1" placeholder="Digite o Nº da Matrícula " type="number" title="Digite a matricula corretamente" class="form-control input-lg" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button id="btnPesquisar" type="button"
                                                                class="btn btn-default btn-lg  margin-left-5">
                                                            <i class="glyphicon glyphicon-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <h1>Dados do imóvel</h1>
                                                <br />
                                                @Html.Partial("_dadosImovel")
                                                <br />
                                            </div>
                                            <div class="step-pane" id="step2">
                                                <h2>Dados dos Participantes</h2>
                                                @Html.Partial("_dadosPessoas")
                                            </div>
                                            <div class="step-pane" id="step3">
                                                <br>
                                                <h3><strong>Passo 2</strong> - Busca de Modelo</h3>
                                                @Html.Partial("_dadosModelos", Model)
                                            </div>
                                            <div class="step-pane" id="step4">
                                                <br>
                                                <h3><strong>Passo 3</strong> - Escrita de Ato</h3>
                                                <br />
                                                @Html.Partial("_decoupledEditor")
                                                @Html.HiddenFor(model => model.Ato)

                                            </div>
                                            <!-- CONFIRMAÇÃO DE ATO-->
                                            <div class="step-pane" id="step5">
                                                <br>
                                                <h3><strong>Passo 4</strong> - Confirmação</h3>
                                                <h1 class="text-align-center"><b>Número da Prenotação:</b> <label id="numeroPre" class="h1"></label></h1>
                                                @Html.HiddenFor(model => model.PREIMO.SEQPRE)
                                                <br />
                                                <br />
                                                <h1 class="text-align-center">Deseja confirmar o ato escrito?</h1>
                                                @Html.TextAreaFor(model => model.Ato, new { @class = "form-control input-lg text-area", @readonly = "readonly", @id = "textAreaAto" })
                                                <br />
                                                <div class="row hidden" id="infoAdicional">
                                                    <div class="col-sm-12 text-align-center">
                                                        <span class="h4 text-align-center" id="spanInfoAdicionais">Não encontramos registros de atos anteriores, por favor, disponibilize informações adicionais <a class="linkModal" data-toggle="modal" data-target="#PartialDadosAdicionais">Clicando Aqui</a></span>
                                                        <br />
                                                        <br />
                                                        @Html.HiddenFor(model => model.IrParaFicha)
                                                        @Html.HiddenFor(model => model.IrParaVerso)
                                                        @Html.HiddenFor(model => model.QuantidadeCentimetrosDaBorda)
                                                        @Html.HiddenFor(model => model.NumSequencia)
                                                        @Html.HiddenFor(model => model.ExisteNoSistema)
                                                    </div>

                                                </div>
                                                <button id="btnConfirmar" class="btn btn-success btn-lg col-lg-offset-5" style="border-radius:15px;" disabled>
                                                    <h1><strong><i class="fa fa-check fa-lg"></i> Confirmar</strong></h1>
                                                </button>
                                            </div>
                                            <!-- FIM CONFIRMAÇÃO ATO-->
                                            <div class="form-actions hidden">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <!-- LISTA INVISIVEL PARA TROCAR DE TELA-->
                                                        <ul class="pager wizard no-margin">
                                                            <li class="next">
                                                                <a href="javascript:void(0);" id="goToNext"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>

<!-- Modal Modelo-->
<div class="modal fade" id="PartialDadosAdicionais" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("PartialDadosAdicionais");
    }
</div>
<!-- Fim Modal Modelo-->
<div class="modal fade" id="PartialDadosPessoas" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">

</div>

<div class="modal fade" id="ModalLoading" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">

    @{
        Html.RenderPartial("ViewLoading");
    }

</div>

@section pagespecific{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="/scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/scripts/plugin/fuelux/wizard/wizard.min.js"></script>
    <script>
        /********************** VARIAVEL GLOBAL ********************************/
        var centimetrosValidos = true;

        /********************** AO INICIAR *************************************/
        $(document).ready(function () {
            GetModelos();

            $('#wizard-1').on('submit', function () {
                $('#ModalLoading').modal('show');
                $('#mensagemLoading').text('Escrevendo ato...');
            });


            var $validator = $("#wizard-1").validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $('#bootstrap-wizard-1').bootstrapWizard({
                'tabClass': 'form-wizard',
                'onNext': function (tab, navigation, index) {
                    var $valid = $("#wizard-1").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    } else {
                        var lista = $('#list');
                        var quantidade = 0;
                        try {
                            quantidade = lista.find('.complete').length;
                        } catch (e) {
                            quantidade = 0;
                        }
                        debugger;
                        if (quantidade == 0) {
                            if ($('#modeloInvalido').val() == "True") {
                                DesabilitarProximo();
                                if ($('#IdTipoAto').val()) {
                                    ExisteAtoBanco($('#IdTipoAto').val());
                                }
                            }
                            else {
                                HabilitarProximo();
                            }
                        }
                        else if (quantidade == 2) {
                            AtualizarIdTipoAto($('#ArquivoModelo_Id').val());
                            var resultado = $('#modeloInvalido').val();
                            if (resultado == "True") return;
                        } else if (quantidade == 3) {
                            $('#Ato').val(editor.getData().replace(new RegExp('\<p\>', 'g'), "").replace(new RegExp('\<\/p\>', 'g'), '\n'));
                            $('#textAreaAto').val($('#Ato').val());
                            ExibirModal();
                        }

                        var objeto = lista.find('.active');
                        var item = objeto[0];
                        item.classList.remove('active');
                        item.classList.add('complete');

                        quantidade = lista.find('.complete').length;
                        item = lista.children('li')[quantidade];
                        item.classList.add('active');
                        $(`#step${quantidade}`).removeClass('active');
                        $(`#step${quantidade + 1}`).addClass('active');
                        $('#btnVoltar').removeAttr('disabled', 'disabled');

                    }
                }
            });

        });

        /********************* IMOVEL ******************************************/
        $('#btnPesquisar').on('click', function () {
            PesquisarImovel();
        });

        /*****************  FUNCOES DA MODAL INFO ADICIONAIS  ******************/
        $('#qtdeCentimetros').keyup(function () {
            var regex = new RegExp("^[0-9]{0,}(\,\d{1,2})?$", "g");
            var texto = $('#qtdeCentimetros').val();
            debugger;
            if ($('#qtdeCentimetros').val().match(regex) != texto) {
                $('#centimetrosValidation').removeClass('hidden')
                $('#centimetrosValidation').text('Preencha a quantidade corretamente');
                $('#qtdeCentimetros').attr('style', 'border-color:red;');
            } else {
                var quantidade = parseInt(texto);
                if (quantidade >= 0 && quantidade <= 20) {
                    $('#centimetrosValidation').addClass('hidden');
                    $('#qtdeCentimetros').attr('style', 'border-color:green;');
                    centimetrosValidos = true
                } else {
                    centimetrosValidos = false;
                    $('#centimetrosValidation').removeClass('hidden');
                    $('#centimetrosValidation').text('A quantidade de centimetros deve ser entre 0 e 20');
                    $('#qtdeCentimetros').attr('style', 'border-color:red;');
                }

            }
        });

        $('#btnSalvarInformacoes').on('click', function () {
            var enviar = true;
            if (!$("#numeSequencia").valid() || !$("#qtdeCentimetros").valid() || !centimetrosValidos || !$("#numFicha").valid()) {
                enviar = false;
            }
            //Envia os dados
            if (enviar == true) {
                $('#divMensagem').attr('hidden');
                enviarInfoAdicionais();
                $('#PartialDadosAdicionais').modal('hide');
                $('#spanInfoAdicionais').text('Edite as informações preenchidas ');
                $('#spanInfoAdicionais').append('<a class="linkModal" data-toggle="modal" data-target="#PartialDadosAdicionais">Clicando Aqui</a>');
            }
            else {
                $('#divMensagem').removeAttr('hidden');
                limparInfoAdicionais();
                $('#spanInfoAdicionais').text('Não encontramos registros de atos anteriores, por favor, disponibilize informações adicionais ');
                $('#spanInfoAdicionais').append('<a class="linkModal" data-toggle="modal" data-target="#PartialDadosAdicionais">Clicando Aqui</a>');
            }
        });

        /*************   ATUALIZA O VALOR DO CAMPO ATO  ************************/
        $('#upload').on('click', function () {
            var texto = editor.getData().replace(new RegExp('\<p\>', 'g'), "").replace(new RegExp('\<\/p\>', 'g'), '\n');
            $('#Ato').val(texto);
        });
    </script>
}
@Scripts.Render("~/Scripts/Ato/ArquivoModelo.js", "~/Scripts/Ato/Ato.js")
@Scripts.Render("~/Scripts/Ato/DadosImovel.js", "~/Scripts/Ato/DadosPessoas.js")
@Scripts.Render("~/Scripts/Ato/ExibirModal.js", "~/Scripts/Ato/HabilitarDesabilitar.js")
@Scripts.Render("~/Scripts/Ato/LimparDados.js", "~/Scripts/Ato/MovimentarNoGrid.js")
@Scripts.Render("~/Scripts/Ato/PartialDadosAdicionais.js", "~/Scripts/Ato/DecoupledEditor.js")
