@using Dto.CartNew.Entities.Cart_11RI.Diversos;
@model IEnumerable<DtoMenu>

<li class="@Html.RouteIf("index", "active")">
    <a href="@Url.Action("index", "home")" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Início</span></a>
</li>

@foreach (var i in Model.Where(ii => ((ii.IdTipoMenu == 1) || (ii.IdTipoMenu == 3)) && (ii.IdMenuPai == null)))
{
    if (Model.Where(mm1 => (mm1.IdMenuPai == i.Id)).Count() == 0)
    {
        if (string.IsNullOrEmpty(i.Action))
        {
            <li>
                <a href="#" title="@i.DescricaoMenu"><i class="fa fa-lg fa-fw @i.IconeWeb"></i> <span class="menu-item-parent">@i.DescricaoMenu</span></a>
            </li>
        }
        else
        {
            <li class="@Html.RouteIf(i.Action, "active")">
                @if (i.Permissao)
                {
                    <a href="@Url.Action(i.Action, i.Controller)" title="@i.DescricaoMenu"><i class="fa fa-lg fa-fw @i.IconeWeb"></i> <span class="menu-item-parent">@i.DescricaoMenu</span></a>
                }
                else
                {
                    <a href="#" title="@i.DescricaoMenu" onclick="ShowMessageUser();"><i class="fa fa-lg fa-fw @i.IconeWeb"></i> <span class="menu-item-parent">@i.DescricaoMenu</span></a>
                }
            </li>
        }
    }
    else
    {
        <li>
            <a href="#" title="@i.DescricaoMenu"><i class="fa fa-lg fa-fw @i.IconeWeb"></i> <span class="menu-item-parent">@i.DescricaoMenu</span></a>
            <ul>
                @foreach (var j in Model.Where(jj => jj.IdMenuPai == i.Id))
                {
                    if (string.IsNullOrEmpty(j.Action))
                    {
                        <li>
                            <a href="#" title="@j.DescricaoMenu"><i class="fa fa-lg fa-fw @j.IconeWeb"></i> <span class="menu-item-parent">@j.DescricaoMenu</span></a>

                        </li>
                    }
                    else
                    {
                        <li class="@Html.RouteIf(j.Action, "active")">
                            @if (j.Permissao)
                            {
                                <a href="@Url.Action(j.Action, j.Controller)" title="@j.DescricaoMenu"><i class="fa fa-lg fa-fw @j.IconeWeb"></i> <span class="menu-item-parent">@j.DescricaoMenu</span></a>
                            }
                            else
                            {
                                <a href="#" title="@j.DescricaoMenu" onclick="ShowMessageUser()"><i class="fa fa-lg fa-fw @j.IconeWeb"></i> <span class="menu-item-parent">@j.DescricaoMenu</span></a>
                            }
                        </li>
                    }
                }
            </ul>
        </li>
    }

}
