@model Cartorio11RI.ViewModels.BusinessErrorViewModel

@{
    ViewBag.Title = "BusinessError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h2 class="warning text-warning tada animated"><i class="fa fa-warning error-icon-shadow"></i> Operação não permitida</h2>
                        <br />
                        <div>
                            <hr />
                            <a href='#' class="btn btn-primary btn-lg" onclick="history.go(-1); return false;">
                                <i class="fa fa-arrow-left animated fadeInRightBig"></i> Voltar
                            </a>
                            <hr />
                            <dl class="dl-horizontal bordered">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Data)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Data)
                                </dd>
                            </dl>
                            <hr />
                            <div class="panel panel-default text-left">
                                <div class="panel-heading bg-color-blueDark txt-color-white">Inconsistências reportadas</div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        @{
                                            foreach (var erro in Model.ListErros)
                                            {
                                                <li class="list-group-item">
                                                    <strong>@erro</strong>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="left">@Html.DisplayNameFor(model => model.Descricao)</td>
                                        <td align="left">@Html.DisplayFor(model => model.Descricao)</td>
                                    </tr>
                                    @{
                                        if (Model.Excecao != null)
                                        {
                                            var ex = Model.Excecao.InnerException;
                                            <tr>
                                                <td align="left">@Html.DisplayNameFor(model => model.Excecao)</td>
                                                <td align="left">@Html.DisplayFor(model => model.Excecao.Message)</td>
                                            </tr>
                                            <tr>
                                                <td align="left">Detalhamento</td>
                                                <td align="left">
                                                    @{
                                                        while (ex != null)
                                                        {
                                                            <p>
                                                                @ex.Message
                                                            </p>
                                                            <br />
                                                            ex = ex.InnerException;
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- END MAIN CONTENT -->