@model AdmCartorio.ViewModels.ArquivoModeloDocxViewModel

@{
    ViewBag.Title = "Arquivos";
    ViewBag.SubTitle = "Cadastrar";
}

@section styles_especific {
    <style>
        //coloque aqui seu codigo css
    </style>
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-pencil-square-o fa-fw "></i>
                @ViewBag.Title
                <span>
                    >
                    @ViewBag.SubTitle
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="false"
                    data-widget-sortable="false"
                    -->

                    <header>
                        <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                        <h2>Cadasto de modelos de documentos</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->

                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Cadastrar", "Arquivos", FormMethod.Post, new { id = "frmCadastrarArquivo", enctype = "multipart/form-data", @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(model => model.Id)
                                
                                <input type="hidden" id="IpLocal" name="IpLocal" value="">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            @Html.LabelFor(model => model.NomeModelo)
                                            <label class="input">
                                                @Html.TextBoxFor(model => model.NomeModelo, null, new { @class = "form-control", @placeholder = "Digite o nome do modelo" })
                                                @Html.ValidationMessageFor(model => model.NomeModelo, null, new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            @Html.LabelFor(model => model.IdTipoAto)
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.IdTipoAto, (ViewBag.listaTipoAto as SelectList), new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.IdTipoAto, null, new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            @Html.LabelFor(model => model.Files)
                                            <label class="input">
                                                @Html.TextBoxFor(model => model.Files, null, new { @type = "file", @accept = "docx", @name = "file", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Files, null, new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.LogArquivoModeloDocxViewModel.IP)
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" id="upload" class="btn btn-primary btn-lg">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        Salvar
                                    </button>
                                    @Html.ActionLink("Voltar", "Index", "Arquivos", null, new { @class = "btn btn-default col-sm-2" })
                                </footer>

                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{

<script src="~/Scripts/cartoonsoft/libs.js"></script>

<script type="text/javascript">

    @* Coloque aqui seu codigo javascript *@

    $(document).ready(function () {

        var ipLocal = getUserIP(function (ip) {
            var t = navigator.product;
            $("#IpLocal").val(ip);
        });

        //coloque aqui seu codigo jquery

        @*            
        $('#upload').on('click', function () {
            var MeuIp = document.getElementById('ipDaMaquina').value;
            var form = $('#formEnvio');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            var objData = {
                ip: MeuIp,
                __RequestVerificationToken: token
            };

            $.ajax('@Url.Action("UploadArquivos", "Arquivos")', {
                method: 'POST',
                dataType: 'json',
                data: objData,
                beforeSend: function () {
                    $('#frmProgreessBarModal').modal("show");
                    $('.modal-header h3').html('Processando requisição...')
                }
            }).done(function (data) {
                //
                if (data.success) {
                    $.smallBox({
                        title: "Requisição realizada com sucesso!",
                        content: "<i class='fa fa-clock-o'></i> <i></i>",
                        color: "#296191",
                        iconSmall: "fa fa-thumbs-up bounce animated",
                        timeout: 4000
                    });
                    console.log(result);
                    console.log("Deu certo");
                }
            }).fail(function (jq, textStatus, error) {
                //
                console.log(error);
                console.log("Deu erro");

            }).always(function () {
                $('#frmProgreessBarModal').modal("hide");
            });
        });
        *@

    });

</script>
}
