@model AdmCartorio.Models.ArquivoModeloDocxViewModel


@{
    ViewBag.Title = "Cadastrar";
}

@if (ViewBag.resultado != null)
{
    <div class="alert alert-success">
        <label class="">@ViewBag.resultado</label>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable" id="content">
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
        <div>
            <div class="widget-body no-padding">
                @using (Html.BeginForm("Cadastrar", "Arquivos", FormMethod.Post, new { enctype = "multipart/form-data", id = "formEnvio", @class = "smart-form" }))
                {
                    @Html.AntiForgeryToken()

                    <header>
                        <h1>Cadastro de Modelos</h1>
                    </header>
                    <fieldset>
                        <!-- NOME MODELO E NATUREZA-->
                        <div class="row">
                            <section class="col col-6">
                                <label class="col-form-label margin-top-10">Nome do Modelo</label>
                                @Html.TextBoxFor(model => model.NomeModelo, null, new { @class = "form-control", @placeholder = "Digite o nome do modelo" })
                                @Html.ValidationMessageFor(model => model.NomeModelo, null, new { @class = "text-danger" })
                            </section>
                            <section class="col col-6">
                                <label class="col-form-label margin-top-10">Selecione um tipo</label>
                                @Html.DropDownListFor(model => model.NaturezaArquivoModeloDocx, (ViewBag.NaturezaArquivoModeloDocx as SelectList), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NaturezaArquivoModeloDocx, null, new { @class = "text-danger" })
                            </section>
                        </div>
                        <!-- FIM NOME MODELO E NATUREZA-->
                        <!-- SELECAO DE ARQUIVO-->
                        <div class="row">
                            <section class="col col-6">
                                <label class="col-form-label">Selecione um modelo</label>
                                @Html.TextBoxFor(model => model.Files, null, new { @type = "file", @accept = "docx", @name = "file", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Files, null, new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.LogArquivoModeloDocxViewModel.IP)
                            </section>
                        </div>
                        <!-- SELECAO DE ARQUIVO-->

                    </fieldset>
                    <footer>
                        <button type="submit" id="upload" class="btn btn-primary">
                            <i class="glyphicon glyphicon-upload"></i>
                            Upload
                        </button>
                        @Html.ActionLink("Voltar", "Index", "Arquivos", null, new { @class = "btn btn-default col-sm-2" })
                    </footer>
                }
            </div>
        </div>
    </div>
</article>



<script type="text/javascript">

     @*$('#upload').on('click',
        function () {
            var MeuIp = document.getElementById('ipDaMaquina').value;
            var form = $('#formEnvio');
            var token = $('input[name="__RequestVerificationToken"]', form).val();


            $.ajax({
                url: '@Url.Action("UploadArquivos", "Arquivos")',
                type: 'POST',
                dataType: 'json',
                data: {
                    ip : MeuIp,
                    __RequestVerificationToken: token,
                },
                success: function (result) {
                    console.log(result);
                    console.log("Deu certo");
                },
                error: function (error) {
                    console.log(error);
                    console.log("Deu erro");
                }
            })
        });*@
    

    function getIp(callback) {
        function response(s) {
            callback(window.userip);

            s.onload = s.onerror = null;
            document.body.removeChild(s);
        }

        function trigger() {
            window.userip = false;

            var s = document.createElement("script");
            s.async = true;
            s.onload = function () {
                response(s);

            };
            s.onerror = function () {
                response(s);
            };

            s.src = "https://l2.io/ip.js?var=userip";
            document.body.appendChild(s);
        }

        if (/^(interactive|complete)$/i.test(document.readyState)) {
            trigger();
        } else {
            document.addEventListener('DOMContentLoaded', trigger);
        }
    }

    getIp(function (ip) {
        console.log(ip);
        // Adiciona Campo Hidden para pegar o IP
        //document.getElementById("ip").value = ip;
        document.getElementById("LogArquivoModeloDocxViewModel_IP").value = ip;
    });
</script>
