@model AdmCartorio.Models.ArquivoModeloDocxViewModel


@{
    ViewBag.Title = "Create";
}

<h2>Upload de Arquivos</h2>
@*@if (ViewBag.resultado != null)
    {
        <div class="alert alert-success">
            <label class="">@ViewBag.resultado</label>
        </div>
    }*@

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@using (Html.BeginForm("Cadastrar", "Arquivos", FormMethod.Post, new { enctype = "multipart/form-data", id = "formEnvio" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <hr />
        <div class="row">
            <label class="col-form-label col-md-2 margin-top-10">Nome do Modelo</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.NomeModelo, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NomeModelo, null, new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-form-label col-md-2 margin-top-10">Selecione um tipo</label>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.NaturezaArquivoModeloDocx, (ViewBag.NaturezaArquivoModeloDocx as SelectList), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NaturezaArquivoModeloDocx, null, new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-form-label col-md-2 margin-top-10">Selecione um modelo</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Files, null, new { @type = "file", @accept = "docx", @name = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Files, null, new { @class = "text-danger" })

                @Html.HiddenFor(model => model.LogArquivoModeloDocx.IP)
            </div>
        </div>
        <input type="submit" value="Upload" id="upload" class="btn btn-default" />
    </div>
}

@Html.ActionLink("Editar", "Editar")

<script type="text/javascript">

     @*$('#upload').on('click',
        function () {
            var MeuIp = document.getElementById('ipDaMaquina').value;
            var form = $('#formEnvio');
            var token = $('input[name="__RequestVerificationToken"]', form).val();


            $.ajax({
                url: '@Url.Action("UploadArquivos", "Arquivos")',
                type: 'POST',
                dataType: 'json',
                data: {
                    ip : MeuIp,
                    __RequestVerificationToken: token,
                },
                success: function (result) {
                    console.log(result);
                    console.log("Deu certo");
                },
                error: function (error) {
                    console.log(error);
                    console.log("Deu erro");
                }
            })
        });*@
    function getIp(callback) {
        function response(s) {
            callback(window.userip);

            s.onload = s.onerror = null;
            document.body.removeChild(s);
        }

        function trigger() {
            window.userip = false;

            var s = document.createElement("script");
            s.async = true;
            s.onload = function () {
                response(s);

            };
            s.onerror = function () {
                response(s);
            };

            s.src = "https://l2.io/ip.js?var=userip";
            document.body.appendChild(s);
        }

        if (/^(interactive|complete)$/i.test(document.readyState)) {
            trigger();
        } else {
            document.addEventListener('DOMContentLoaded', trigger);
        }
    }

    getIp(function (ip) {
        console.log(ip);
        // Adiciona Campo Hidden para pegar o IP
        //document.getElementById("ip").value = ip;
        document.getElementById("IP").value = ip;
    });
</script>
