@model AdmCartorio.Models.ArquivoModeloDocxViewModel

@{
    ViewBag.Title = "Editar";
}
@if (ViewBag.resultado != null)
{
    <div class="alert alert-success">
        <label class="">@ViewBag.resultado</label>
    </div>
}

<script src="~/Scripts/libs/jquery-2.1.1.min.js"></script>
<style type="text/css">
    .flutua-direita {
        float: right;
        margin-right: 3px;
    }
</style>

<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable" id="content">
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
        <div>
            <div class="widget-body no-padding">
                @using (Html.BeginForm("Editar", "Arquivos", FormMethod.Post, new { enctype = "multipart/form-data", id = "formEnvio", @class = "smart-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Arquivo)
                    @Html.HiddenFor(model => model.NomeModelo)
                    @Html.HiddenFor(model => model.IdTipoAto)

                    <header>
                        <h1>
                            Edição de Modelos |
                            <a id="downloadBtn"
                               href="@Url.Action("DownloadFile","Arquivos",new { ID = Model.Id,IP = "atualizadoAoIniciar", Arquivo = Model.Arquivo })" class="">
                                <i class="glyphicon glyphicon-download"></i>
                                <span>
                                    <strong>Download  </strong>
                                </span>
                            </a>
                        </h1>
                    </header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="col-form-label">Selecione o novo modelo</label>
                                @Html.TextBoxFor(model => model.Files, null, new { @type = "file", @accept = "docx", @name = "file", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Files, null, new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.LogArquivoModeloDocxViewModel.IP)
                                @Html.HiddenFor(model => model.Id)
                            </section>
                        </div>
                        <!-- SELECAO DE ARQUIVO-->
                        <span class="text-danger flutua-direita"> Faça o download antes de atualizar </span>
                    </fieldset>
                    <footer>
                        <button type="submit" id="upload" class="btn btn-primary">
                            <i class="glyphicon glyphicon-upload"></i>
                            Atualizar
                        </button>
                        @Html.ActionLink("Voltar", "Index", "Arquivos", null, new { @class = "btn btn-default col-sm-2" })
                    </footer>
                }
            </div>
        </div>
    </div>
</article>

<script type="text/javascript">

    //$('#downloadBtn').on('click', function () {
    //    $('#upload').removeAttr('disabled');
    //});
    function getIp(callback) {
        function response(s) {
            callback(window.userip);

            s.onload = s.onerror = null;
            document.body.removeChild(s);
        }

        function trigger() {
            window.userip = false;

            var s = document.createElement("script");
            s.async = true;
            s.onload = function () {
                response(s);

            };
            s.onerror = function () {
                response(s);
            };

            s.src = "https://l2.io/ip.js?var=userip";
            document.body.appendChild(s);
        }

        if (/^(interactive|complete)$/i.test(document.readyState)) {
            trigger();
        } else {
            document.addEventListener('DOMContentLoaded', trigger);
        }
    }

    getIp(function (ip) {
        console.log(ip);
        document.getElementById("LogArquivoModeloDocxViewModel_IP").value = ip;
        var id = parseInt($('#Id').val());
        var arquivo = $('#Arquivo').val();

        $('#downloadBtn').attr("href", "/Arquivos/DownloadFile/" + id + "?Ip=" + ip + "&Arquivo=" + arquivo);
    });
</script>